@model IReadOnlyCollection<Nakheel_Web.Models.IncidentMaster.TYPE_SECURITY_INCIDENT>;
@{
    ViewData["Title"] = "Types of Security Incident";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*/*GRID VIEW*/  *@

<div class="row" id="Listview">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-lg-10"> <h4 class="card-title">Type Of Security Incident List</h4></div>
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-success waves-effect waves-light" id="btnAdd" style="float: right;" data-bs-toggle="modal" data-bs-target=".add-new"><i class="mdi mdi-plus me-1"></i> Add New </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table id="tblIncident" class="table table-striped dt-responsive nowrap" style="width:100%;">
                    <thead>
                        <tr class="TR_Color">
                            <th style="text-align:left;"><i class="mdi mdi-table-key"></i>&nbsp;Type of Security ID</th>
                            <th style="text-align:left;"><i class="mdi mdi-table-key"></i>&nbsp;Classification</th>
                            <th style="text-align:left;"><i class="mdi mdi-table-key"></i>&nbsp;Type of Security Incident</th>
                            <th style="text-align:left;"><i class="bx bx-notepad"></i>&nbsp;Created Date</th>
                            <th style="text-align:left;"><i class="bx bxs-zap"></i>&nbsp;Action</th>
                        </tr>
                    </thead>
                    <tbody> @*id="GetIncidentList">*@
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr class="clstr">
                                    <td align="left" valign="middle">@item.Unique_Id</td>
                                    <td align="left" valign="middle">@item.Classification_Name</td>
                                    <td align="left" valign="middle">@item.Inc_Type_Security_Name</td>
                                    <td align="left" valign="middle">@item.CreatedDate</td>
                                    <td align="left">
                                        <div class="d-flex gap-3">
                                            <a onclick="Edit(@item.Inc_Type_Security_Id)" href="javascript:void(0);" title="" class="text-success" data-bs-original-title="Edit" aria-label="View"> <i class="mdi mdi-pencil font-size-18"></i></a>
                                            <a onclick="Delete(@item.Inc_Type_Security_Id)" href="javascript:void(0);" title="" class="text-danger" data-bs-original-title="Delete" aria-label="Delete"><i class="mdi mdi-delete font-size-18"></i></a>
                                            @*<a onclick="View(@item.Designation_Id)" href="javascript:void(0);" title="" class="text-info" data-bs-original-title="View" aria-label="View"><i class="mdi mdi-eye font-size-18"></i></a>*@
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@*/*ADD PAGE*/*@
<form id="AddModule_div" asp-controller="Incident" asp-action="AddType_Security" method="post">
    <div class="modal fade add-new" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myExtraLargeModalLabel">Add New </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div style="display:none;">
                            <div class="form-group">
                                <input class="form-control" name="Inc_Type_Security_Id" id="Inc_Type_Security_Id" value="0">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-4 ">
                                <div style="display:none;">
                                    <div class="form-group">
                                        <input class="form-control" name="Classifica_Id" id="Classifica_Id">
                                    </div>
                                </div>
                                <label for="example-search-input" class="form-model" style="color:black;">Classification</label>
                                <select class="form-control" name="Classification_Id" id="Classification_Id" required >
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-4 ">
                                <label for="example-search-input" class="form-model" style="color:black;">Type of Security Incident</label>
                                <input class="form-control" type="text" name="Inc_Type_Security_Name" id="Inc_Type_Security_Name" required minlen="1">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-model" style="color:black;" for="AddOrder-Billing-Name">Description</label>
                                <textarea class="form-control" name="Description" id="Description" rows="1" cols="40" required minlen="1"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div @*class="col-12 text-end"*@ style="text-align:center;">

                            <button type="submit" class="btn btn-success"  id="btn-save-event"> Submit</button>
                        </div>
                    </div>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</form>

<script>
    "use strict";
    const UI_Fields = Object.freeze({
        MODULE_ID: "#Inc_Type_Security_Id",
        CLASSIFICATION_ID: "#Classification_Id",
        CLASSIFICA_ID: "#Classifica_Id",
        TYPE_SECURITY_INCIDENT_NAME: "#Inc_Type_Security_Name",
        DESCRIPTION: "#Description",
        ADD_INCIDENT_LIST: "#Add_Incident_List",
        LIST_VIEW: "#List_View",
        BTN_BACK: "#btn_back",
        MAIN_TABLE: "#tblIncident",
        TBODY_TABLE: "#GetIncidentList",
        BTN_ADD_INC: "#btn_add_incident",
    });

    $(function () {
        debugger
        LOAD_CLASSIFICATION_DRP();
    });

    $(document).ready(function () {
        $(UI_Fields.BTN_ADD_INC).click(function () {
            $(UI_Fields.LIST_VIEW).hide(100);
            $(UI_Fields.ADD_INCIDENT_LIST).show(100);
        });
        $(UI_Fields.BTN_BACK).click(function () {
            $(UI_Fields.LIST_VIEW).show(100);
            $(UI_Fields.ADD_INCIDENT_LIST).hide(100);
        })
    })

    function Edit(id) {
        $(".add-new").modal('show');
        $.post("@Url.Action("Type_Security_GetByID", "Incident")", { ID: id }, function (data) {
            debugger
            $(UI_Fields.MODULE_ID).val(data.Inc_Type_Security_Id);
            $(UI_Fields.CLASSIFICATION_ID).val(data.Classification_Id);
            $(UI_Fields.TYPE_SECURITY_INCIDENT_NAME).val(data.Inc_Type_Security_Name);
            $(UI_Fields.DESCRIPTION).val(data.Description);
        });
    }

    function Delete(id) {
        debugger
        Swal.fire(
            {
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning", showCancelButton: !0,
                confirmButtonColor: "#34c38f",
                cancelButtonColor: "#f46a6a",
                confirmButtonText: "Yes, delete it!"
            }).then(function (t) {
                debugger
                if (t.isConfirmed) {

                    $.ajax({
                        url: '@Html.Raw(@Url.Action("Type_Security_Delete", "Incident"))',
                        type: "POST",
                        cache: false,
                        async: false,
                        data: { ID: id },
                        dataType: "json",
                        success: function (data) {
                            debugger
                            if (data == "true") {
                                Swal.fire("Deleted!", "Your file has been deleted.", "success");
                                window.location.reload();
                            }
                            else {
                                Swal.fire("Failed!", "Something went wrong", "error");
                            }
                        },
                    });
                }
            });
    }

    function LOAD_CLASSIFICATION_DRP() {
        debugger
        $.post("@Url.Action("Classification_GetAll", "Incident")", function (data) {
            debugger
            $(UI_Fields.CLASSIFICATION_ID).empty();
            $(UI_Fields.CLASSIFICATION_ID).append("<option value='' selected='selected' disabled style='text-align:center'>--Select--</option>");
            $(data).each(function (i, e) {
                $(UI_Fields.CLASSIFICATION_ID).append("<option value=" + e.Classification_Id + ">" + e.Classification_Name + "</option>");
                $(UI_Fields.CLASSIFICA_ID).val(e.Classification_Id);
            });
        });
    }
    
    $(document).ready(function () {
        let msg = '@TempData["msg"]';
        if (msg != "") {
            debugger
            if (msg == "Added Successful" || msg == "Updated Successfully") {
                Swal.fire({
                    position: 'Center',
                    icon: 'success',
                    title: msg,
                    showConfirmButton: false,
                    timer: 1500
                });
            }
            else {
                Swal.fire({
                    position: 'Center',
                    icon: 'warning',
                    title: msg,
                    showConfirmButton: false,
                    timer: 2000
                });
            }
        }
    });

    $("#btnAdd").click(function () {
        $(UI_Fields.MODULE_ID).val('0');
        $(UI_Fields.CLASSIFICATION_ID).val('0');
        $(UI_Fields.TYPE_SECURITY_INCIDENT_NAME).val('');
        $(UI_Fields.DESCRIPTION).val('');
    });

</script>

<script>
    $(document).ready(function () {
        $(UI_Fields.MAIN_TABLE).DataTable({
            "order": [[0, "desc"]],
            "initComplete": function (settings, json) {
                $(UI_Fields.MAIN_TABLE).wrap("<div class='tableFixHead' ></div>");
            },
            dom: 'lBfrtip',
            buttons: ['excel', 'pdf'],
        });
    });
</script>

