@{
    Layout = null;
}
@model Nakheel_Web.Models.InspectionMaster.M_Insp_Joint_Request

<style>
    .image-container {
        position: relative;
    }

    .close-button {
        position: absolute;
        top: -12px;
        right: 53px;
        background-color: red;
        border: 1px solid #ccc;
        border-radius: 50%;
        cursor: pointer;
    }
</style>
@if (Model.Insp_Request_Reject_List!.Count > 0 && Model.Insp_Request_Reject_List != null)
{
    <div class="row" id="Reject_View_Div" style="padding: -5px;border: solid;border-width: thin;border-color: red;">
        <div class="col-xl-12">
            <div class="card-header">
                <div class="row">
                    <div class="col-lg-10"> <h4 class="card-title">Reject List</h4></div>
                </div>
            </div>
            <table id="RejectTable" class="table table-striped dt-responsive" style="width:100%;">
                <thead>
                    <tr class="">
                        <th style="text-align:left;"><i class="mdi mdi-table-key"></i>&nbsp;Reject ID</th>
                        <th style="text-align:left;"><i class="mdi mdi-table-key"></i>&nbsp;Reject Reason</th>
                        <th style="text-align:left;"><i class="bx bx-notepad"></i>&nbsp;Rejected By</th>
                        <th style="text-align:left;"><i class="bx bx-notepad"></i>&nbsp;Created Date</th>
                    </tr>
                </thead>
                <tbody id="GetAllRequestList">
                    @foreach (var item in Model.Insp_Request_Reject_List)
                    {
                        <tr class="clstr">
                            <td align="left" valign="middle">@item.Unique_Id</td>
                            <td align="left" valign="middle">@item.Reject_Reason</td>
                            <td align="left" valign="middle">@item.CreatedBy</td>
                            <td align="left" valign="middle">@item.CreatedDate</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <br />
}

<div class="row">
    <input type="hidden" class="form-control" asp-for="Insp_Request_Id" asp-items="@(new SelectList(Model.Insp_Request_Id))">
    <div class="col-6">
        <div class="mb-3 row">
            <label for="example-text-input" class="col-md-4 col-form-label">Business Unit<span class="requ">*</span></label>
            <div class="col-md-8">
                <select disabled class="form-control Drop_Search" asp-for="Business_Unit_Id" asp-items="@(new SelectList(Model.Inc_Comman_Master_List!.Business_Master_List,"Value","Text"))">
                    <option value="" style="text-align:center;">--Select--</option>
                </select>
                <span asp-validation-for="Business_Unit_Id" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="example-tel-input" class="col-md-4 col-form-label">Community<span class="requ">*</span></label>
            <div class="col-md-8">
                <select disabled class="form-control Drop_Search" asp-for="Community_Id" onchange="Fn_Community(this.value)" asp-items="@(new SelectList(Model.Inc_Comman_Master_List!.Community_Master_List,"Value","Text"))">
                    <option value="" style="text-align:center;">--Select--</option>
                </select>
                <span asp-validation-for="Community_Id" class="text-danger"></span>

            </div>
        </div>
        <div class="mb-3 row">
            <label for="example-text-input" class="col-md-4 col-form-label">Frequency<span class="requ">*</span></label>
            <div class="col-md-8">
                <select disabled class="form-control Drop_Search Schedule_Type" name="Schedule_Type" id="Schedule_Type" asp-for="Schedule_Type">
                    <option value="">--Select--</option>
                    <option value="Monthly">Monthly</option>
                    <option value="Bimonthly">Bimonthly</option>
                    <option value="Quarterly">Quarterly</option>
                    <option value="Semiannually">Semi Annually</option>
                    <option value="Yearly">Yearly</option>
                </select>
                <span asp-validation-for="Schedule_Type" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="example-text-input" class="col-md-4 col-form-label">Supervisor<span class="requ">*</span></label>
            <div class="col-md-8">
                <select class="form-control Drop_Search Supervisor_Id" name="Supervisor_Id" id="Supervisor_Id" asp-for="Supervisor_Id" asp-items="@(new SelectList(Model.Inc_Comman_Master_List!.Supervisor_Req_List,"Value","Text"))">
                    <option value="" style="text-align:center;">--Select--</option>
                </select>
                <span asp-validation-for="Supervisor_Id" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="example-text-input" class="col-md-4 col-form-label">HSE Representative<span class="requ">*</span></label>
            <div class="col-md-8">
                @if (Model.Access_Schedule == "All")
                {
                    <select class="form-control Drop_Search HSE_Representative_Id" name="HSE_Representative_Id" id="HSE_Representative_Id" asp-for="HSE_Representative_Id" asp-items="@(new SelectList(Model.Inc_Comman_Master_List!.HSE_Team_Req_Emp_List,"Value","Text"))">
                    <option value="" style="text-align:center;">--Select--</option>
                </select> 
                }else{
                    <select disabled class="form-control Drop_Search HSE_Representative_Id" name="HSE_Representative_Id" id="HSE_Representative_Id" asp-for="HSE_Representative_Id" asp-items="@(new SelectList(Model.Inc_Comman_Master_List!.HSE_Team_Req_Emp_List,"Value","Text"))">
                        <option value="" style="text-align:center;">--Select--</option>
                    </select>
                }
                <span asp-validation-for="HSE_Representative_Id" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="example-tel-input" class="col-md-4 col-form-label">Description</label>
            <div class="col-md-8">
                <textarea id="Req_Description" asp-for="Req_Description" name="Req_Description" class="form-control TextArea_Autoresizing Req_Description" placeholder="Enter Description" rows="1"></textarea>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="mb-3 row">
            <label for="example-text-input" class="col-md-4 col-form-label">Zone<span class="requ">*</span></label>
            <div class="col-md-8">
                <select disabled class="form-control Drop_Search" asp-for="Zone_Id" onchange="Fn_Zone(this.value)" asp-items="@(new SelectList(Model.Inc_Comman_Master_List!.Zone_Master_List,"Value","Text"))">
                    <option value="" style="text-align:center;">--Select--</option>
                </select>
                <span asp-validation-for="Zone_Id" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="example-tel-input" class="col-md-4 col-form-label">Building<span class="requ">*</span></label>
            <div class="col-md-8">
                <select disabled class="form-control Drop_Search" asp-for="Building_Id" asp-items="@(new SelectList(Model.Inc_Comman_Master_List!.Building_Master_List,"Value","Text"))">
                    <option value="" style="text-align:center;">--Select--</option>
                </select>
                <span asp-validation-for="Building_Id" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="example-tel-input" class="col-md-4 col-form-label">Inspection Date<span class="requ">*</span></label>
            <div class="col-md-8">
                <input disabled asp-for="Inspection_Date" asp-items="@Model.Inspection_Date" class=" form-control Inspection_Date" type="date" name="Inspection_Date" required>
                <span asp-validation-for="Inspection_Date" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="example-text-input" class="col-md-4 col-form-label">Name of the Service Provider<span class="requ">*</span></label>
            <div class="col-md-8">
                <select class="form-control Drop_Search Service_Provider_Id" name="Service_Provider_Id" id="Service_Provider_Id" asp-for="Supervisor_Id" asp-items="@(new SelectList(Model.Inc_Comman_Master_List!.Service_Provider_Req_List,"Value","Text"))">
                    @if (Model.Inc_Comman_Master_List!.Service_Provider_Req_List.Count != 1)
                    {
                        <option value="" style="text-align:center;">--Select--</option>
                    }
                </select>
                <span asp-validation-for="Service_Provider_Id" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row Req_Category_Div">
            <label for="example-text-input" class="col-md-4 col-form-label">Category<span class="requ">*</span></label>
            <div class="col-md-8">
                <select class="form-control Drop_Search" asp-for="Category_Id" asp-items="@(new SelectList(Model.Inc_Comman_Master_List!.Insp_Category_Master_List,"Value","Text"))">
                    <option value="" style="text-align:center;">--Select--</option>
                </select>
                <span asp-validation-for="Category_Id" class="text-danger"></span>
            </div>
        </div>



       

    </div>
</div>

<script>
    $(document).ready(function () {
        ApplySelect2(".Drop_Search");
        $("#Doc_Table").on("click", ".btn_Action_Delete_Button", function () {
            $(this).closest("tr").remove();
        });
        let minDate = '@DateTime.Now.AddDays(10).ToString("yyyy-MM-dd")';
        $('#Inspection_Date').attr('min', minDate);

        $('.TextArea_Autoresizing').on('input', function () {
            this.style.height = 'auto';

            this.style.height =
                (this.scrollHeight) + 'px';
        });

    });
    function ApplySelect2(id) {
        $(id).select2({
            placeholder: "--Select--",
            theme: 'bootstrap-5',
        });
    }
    function Rej_CA_Photo_Del(Req_Document_Review_Id, id) {
        Swal.fire(
            {
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning", showCancelButton: !0,
                confirmButtonColor: "#34c38f",
                cancelButtonColor: "#f46a6a",
                confirmButtonText: "Yes, delete it!"
            }).then(function (t) {
                if (t.isConfirmed) {
                    $.ajax({
                        url: '@Html.Raw(@Url.Action("Insp_Req_Photo_Delete", "Inspection"))',
                        type: "POST",
                        cache: false,
                        async: false,
                        data: { Req_Document_Review_Id: Req_Document_Review_Id },
                        dataType: "json",
                        success: function (data) {
                            if (data == "200") {
                                var del_Class = ".image-container_" + id;
                                $(del_Class).remove();
                                Swal.fire("Deleted!", "Your file has been deleted.", "success");
                            }
                            else {
                                Swal.fire("Failed!", "Something went wrong", "error");
                                return false;
                            }
                        },
                    });
                }
            });
    }
</script>



