@{
    Layout = null;
}
@using Microsoft.AspNetCore.Http;
@using Nakheel_Web.Models.AccountsMaster;
@using Newtonsoft.Json;
@using static Nakheel_Web.Authentication.Common;
@inject IHttpContextAccessor HttpContextAccessor;
@{
    var str = HttpContextAccessor.HttpContext!.Session.GetString("Login");
    string Des = Decrypt(str!);
    Login_ LoginClass = JsonConvert.DeserializeObject<Login_>(Des!)!;
}
@model Nakheel_Web.Models.InspectionMaster.M_Insp_Safety_Violation
<style>
    .error {
        color: red;
    }
     .image-container {
        position: relative;
    }

    .close-button {
        position: absolute;
        top: -12px;
        right: 53px;
        background-color: red;
        border: 1px solid #ccc;
        border-radius: 50%;
        cursor: pointer;
    }
    .fontsize{
        font-size: 14px !important;
    }
</style>
@if (Model != null)
{
    if (Model.Status == "Action Closure Pending")
    {
        <input type="hidden" id="Insp_Request_Id" value="@Model!.Insp_Request_Id" class="Insp_Request_Id" />
        <input type="hidden" id="Zone_Id" value="@Model!.Zone_Id" class="Zone_Id" />
        <input type="hidden" id="Community_Id" value="@Model!.Community_Id" class="Community_Id" />
        <input type="hidden" id="Safety_Violation_Id" value="@Model!.Safety_Violation_Id" class="Safety_Violation_Id" />
        <div class="row">
            <div class="row">
                <div class="card" style="border-radius: 0rem !important;box-shadow: 0 0px 0px #e4e8f0;border: 0px solid #eff0f2;">
                    <div class="card-header" style="background-color:#032639;height: 32px;">
                        <h5 class="card-title" style="color:white">A. Violation Information</h5>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-sm" style="margin-bottom: 0px;">
                    <tbody id="">
                        <tr>
                            <td><b class="font-bold">Date Of Observation</b></td>
                            <td>:</td>
                            <td class="tdtxt">@Model!.Inspection_Date</td>

                            <td><b class="font-bold">Time Of Observation</b></td>
                            <td>:</td>
                            <td class="tdtxt">@Model!.Inspection_Time</td>

                            <td><b class="font-bold">Business Unit</b></td>
                            <td>:</td>
                            <td class="tdtxt">@Model!.Business_Unit_Name</td>
                        </tr>
                        <tr>
                            <td><b class="font-bold">Zone</b></td>
                            <td>:</td>
                            <td class="tdtxt">@Model!.Zone_Name</td>

                            <td><b class="font-bold">Community</b></td>
                            <td>:</td>
                            <td class="tdtxt">@Model!.Community_Name</td>

                            <td><b class="font-bold">Responsible Department</b></td>
                            <td>:</td>
                            <td class="tdtxt">
                                @if (@Model!.Responsible_Dept == "Service_provider")
                                {
                                    <label>Service provider</label>
                                }
                                else
                                {
                                    <label>NCM Staff</label>
                                }

                            </td>
                        </tr>
                        <tr>

                            <td><b class="font-bold">Type Of Violation</b></td>
                            <td>:</td>
                            <td class="tdtxt">
                                @if (@Model.Safety_Violation_Sub_Type_List[0]!.Type_Master_Id == "-1")
                                {
                                    <label>Others : @Model.Safety_Violation_Sub_Type_List[0].Type_Master_Name</label>
                                }
                                else
                                {
                                    <label>@Model.Safety_Violation_Sub_Type_List[0].Type_Master_Name</label>
                                }
                            </td>

                            @if (@Model.Responsible_Dept == "Service_provider")
                            {
                                <td><b class="font-bold">Service provider</b></td>
                                <td>:</td>
                                <td class="tdtxt">@Model!.Emp_Service_provider_Name</td>
                            }
                            else
                            {
                                <td></td>
                                <td></td>
                                <td></td>
                            }
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="row">
                <div class="card" style="border-radius: 0rem !important;box-shadow: 0 0px 0px #e4e8f0;border: 0px solid #eff0f2;">
                    <div class="card-header" style="background-color:#032639;height: 32px;">
                        <h5 class="card-title" style="color:white">B. Brief Description Of Violation & Requirement(s)</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-sm" style="margin-bottom: 0px;">
                        <tbody id="">
                            <tr>
                                <td style="width:14%;"><b class="font-bold">Description of Violation</b></td>
                                <td>:</td>
                                <td class="tdtxt">@Model.Description_Violation</td>
                            </tr>
                            <tr>
                                <td style="width:14%;"><b class="font-bold">Requirement(s)</b></td>
                                <td>:</td>
                                <td class="tdtxt">@Model!.Requirement</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
         <br />
        <div class="row">
            <div class="row">
                <div class="card" style="border-radius: 0rem !important;box-shadow: 0 0px 0px #e4e8f0;border: 0px solid #eff0f2;">
                    <div class="card-header" style="background-color:#032639;height: 32px;">
                        <h5 class="card-title" style="color:white">C. Photograph</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <table class="table table-sm" style="margin-bottom: 0px;margin-top: -8px;">
                    <tbody id="">
                        <tr>
                        <td style="width:14%;"><b class="font-bold">Picture</b></td>
                        <td>:</td>
                        <td class="tdtxt">
                            @if (@Model.Insp_Safe_Vio_Photos_List != null && @Model.Insp_Safe_Vio_Photos_List.Count > 0)
                            {
                                foreach (var item in @Model.Insp_Safe_Vio_Photos_List)
                                {
                                    <a href="@item.File_Path" target="_blank">
                                        <img target="_blank" src="@item.File_Path" width="100" height="80" style="padding: 3px;">
                                    </a> 
                                }
                            }else{
                               <label>NA</label>
                            }
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="row">
                <div class="card" style="border-radius: 0rem !important;box-shadow: 0 0px 0px #e4e8f0;border: 0px solid #eff0f2;">
                    <div class="card-header" style="background-color:#032639;height: 32px;">
                        <h5 class="card-title" style="color:white">D. Actions Taken And/or Recommended</h5>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: -17px;">
                <form id="F_Add_Corrective_Action">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table id="Sub_ActionTable" class="Sub_ActionTable table-sm tblround table table-bordered" style="width:100%;">
                                <thead style="background-color:#0b5578">
                                    <tr>
                                        <th scope="col" class="table-responsive">S.No</th>
                                        <th scope="col" class="table-responsive">Assign Action To</th>
                                        <th scope="col" class="table-responsive">Assignee</th>
                                        <th scope="col" class="table-responsive">Target Date</th>
                                        <th scope="col" class="table-responsive">Action Description</th>
                                        <th scope="col" class="table-responsive">Status</th>
                                        <th scope="col" class="table-responsive">Closure Description</th>
                                        <th scope="col" class="table-responsive">Evidence</th>
                                        <th scope="col" class="table-responsive">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="Sub_ActionTable_Tbody" class="Sub_ActionTable_Tbody">
                                    @if (Model.Safety_Violation_CA_List != null)
                                    {
                                        var Ac_subSno = 1;
                                        foreach (var item_Ca in Model.Safety_Violation_CA_List)
                                        {
                                            <tr class="CA_Approval_tr_@Ac_subSno">
                                                <td>
                                                    <input class="form-control SV_Corrective_Action_Id" value="@item_Ca.SV_Corrective_Action_Id" type="hidden" id="SV_Corrective_Action_Id_@Ac_subSno">
                                                    <input class="form-control Assignee_Type" value="@item_Ca.Assignee_Type" type="hidden" id="Assignee_Type_@Ac_subSno">
                                                    <input class="form-control Responsibility_To" value="@item_Ca.Responsibility_To" type="hidden" id="Responsibility_To_@Ac_subSno">
                                                    <input class="form-control Target_Date" value="@item_Ca.Target_Date" type="hidden" id="Target_Date_@Ac_subSno">
                                                    <input class="form-control Action_Description" value="@item_Ca.Action_Description" type="hidden" id="Action_Description_@Ac_subSno">
                                                    <label>@Ac_subSno</label>
                                                </td>
                                                <td><label>@item_Ca.Assignee_Type</label></td>
                                                <td><label>@item_Ca.Responsibility_To_Name</label></td>
                                                <td><label>@item_Ca.Target_Date</label></td>
                                                <td><label>@item_Ca.Action_Description</label></td>
                                                <td class="CA_Approval_td_@Ac_subSno">
                                                    @if (@item_Ca.Status == "Completed")
                                                    {
                                                        <label style="color:green;">@item_Ca.Status</label>
                                                    }
                                                    else if (@item_Ca.Status == "Rejected")
                                                    {
                                                        <label style="color:red;">@item_Ca.Status</label>
                                                    }
                                                    else
                                                    {
                                                        <label style="color:#17a2b8;">
                                                            @item_Ca.Status
                                                        </label>
                                                    }
                                                </td>
                                                <td>
                                                    @if (@item_Ca.Status == "Action Closure Pending" || @item_Ca.Status == "Rejected")
                                                    {
                                                        <textarea onkeypress="FnActionClosureDescValid(@Ac_subSno)" id="Closure_Action_Description_@Ac_subSno" asp-for="@item_Ca.Closure_Action_Description" class="form-control TextArea_Autoresizing Closure_Action_Description" name="Closure_Action_Description_@Ac_subSno" rows="1" style="width:250px;" required></textarea>
                                                        <label id="Closure_Action_Description_@Ac_subSno-error" style="font-size: small;" class="error" for="Closure_Action_Description_@Ac_subSno"></label>
                                                    }
                                                    else
                                                    {
                                                        <label>@item_Ca.Closure_Action_Description</label>
                                                    }
                                                </td>
                                                <td style="width: 228px;">
                                                    @if (@item_Ca.Insp_SV_CA_Photo_List != null)
                                                    {
                                                        var dd = 1;
                                                        <div>

                                                            @foreach (var item_Ca_P in @item_Ca.Insp_SV_CA_Photo_List!)
                                                            {
                                                                var extn = @item_Ca_P.File_Path!.Split(".").Last();

                                                                var imagecontainer = "image-container" + @item_Ca_P.Insp_SV_CA_Photo_Id;
                                                                <div class="image-container @imagecontainer">
                                                                    @if (@item_Ca.Status == "Rejected")
                                                                    {
                                                                        <button onclick="Rej_CA_Photo_Del(@item_Ca_P.Insp_SV_CA_Photo_Id,@item_Ca_P.Insp_SV_CA_Photo_Id)" type="button" class="close-button" style="width: 20px;height: 21px;right: 171px;">&times;</button>
                                                                    }
                                                                    <a href="@item_Ca_P.File_Path" target="_blank">
                                                                        @if (extn == "png" || extn == "jpeg" || extn == "jpg")
                                                                        {
                                                                            <img target="_blank" src="@item_Ca_P.File_Path" width="35" height="35">
                                                                        }
                                                                        else
                                                                        {
                                                                            <img src='~/assets/images/pdf.png' style="height: 25px;width: 25px;margin-left: 12px;margin-top: -8px;cursor: pointer;" />
                                                                        }
                                                                    </a>
                                                                </div>
                                                                dd++;
                                                            }
                                                        </div>
                                                    }
                                                    @if (@item_Ca.Status == "Rejected" || item_Ca.Status == "Action Closure Pending")
                                                    {
                                                        <input style="width: 75%;" id="file_@Ac_subSno" class="form-control file" onchange="uploadFiles('file_@Ac_subSno','UploadPhotos_@Ac_subSno')" type="file" accept=".png, .jpg, .jpeg, .pdf" multiple>
                                                        <input type="hidden" value="" class="UploadPhotos" name="UploadPhotos_@Ac_subSno" id="UploadPhotos_@Ac_subSno">
                                                    }
                                                </td>
                                                <td style="width: 100px;">
                                                    @if (@item_Ca.Status == "Rejected" || item_Ca.Status == "Action Closure Pending")
                                                    {
                                                        <button onclick="FnActionClosureSubmit('@Ac_subSno')" type="button" class="btn FnActionClosureSubmit btn-success eva-plus-circle-outline icon nav-icon" style="height: 28px;width: 71px;background: green;border: green;">
                                                            Submit
                                                        </button>
                                                    }
                                                    else
                                                    {
                                                        <label>--</label>
                                                    }
                                                    @if (@item_Ca.Assignee_Type == "Zone Team" && @item_Ca.Status == "Action Closure Pending")
                                                    {
                                                        <button onclick="FnReAssign('@Ac_subSno')" data-bs-toggle="modal" data-bs-target=".Add-Reassign" type="button" class="btn btn-success eva-plus-circle-outline icon nav-icon" style="height: 28px;margin-top: 7px;background: red;border: red;" id="btn-save-event">Re-Assign</button>
                                                    }
                                                    @if (@item_Ca.Status == "Rejected" || item_Ca.Status == "Action Closure Pending")
                                                    {
                                                        if (@item_Ca.Insp_SV_CA_Reject_List != null && @item_Ca.Insp_SV_CA_ReAssign_List != null)
                                                        {
                                                            <br />
                                                            <i onclick="FnViewRejectDetails('@item_Ca.Insp_SV_CA_Reject_List[0].Unique_Id','@item_Ca.Insp_SV_CA_Reject_List[0].Reject_Reason','@item_Ca.Insp_SV_CA_Reject_List[0].CreatedDate','@item_Ca.Insp_SV_CA_Reject_List[0].CreatedBy')" data-bs-toggle="modal" data-bs-target=".View_CA_Rej_Details" class="mdi mdi-note-text" title="Reject Details" data-bs-original-title="Reject Details" aria-label="View" style="cursor: pointer;font-size:25px;"></i>
                                                            <i onclick="FnViewReAssignDetails('@item_Ca.Insp_SV_CA_ReAssign_List[0].Unique_Id','@item_Ca.Insp_SV_CA_ReAssign_List[0].Responsibility_To','@item_Ca.Insp_SV_CA_ReAssign_List[0].Re_Assign_To','@item_Ca.Insp_SV_CA_ReAssign_List[0].CreatedDate','@item_Ca.Insp_SV_CA_ReAssign_List[0].Remarks')" data-bs-toggle="modal" data-bs-target=".View_CA_Re_Asign_Details" class="mdi mdi-calendar-text" title="Re-Assign Details" data-bs-original-title="Re-Assign Details" aria-label="View" style="cursor: pointer;font-size:25px;"></i>
                                                        }
                                                        else if (@item_Ca.Insp_SV_CA_Reject_List != null && @item_Ca.Insp_SV_CA_ReAssign_List == null)
                                                        {
                                                            <br />
                                                            <i onclick="FnViewRejectDetails('@item_Ca.Insp_SV_CA_Reject_List[0].Unique_Id','@item_Ca.Insp_SV_CA_Reject_List[0].Reject_Reason','@item_Ca.Insp_SV_CA_Reject_List[0].CreatedDate','@item_Ca.Insp_SV_CA_Reject_List[0].CreatedBy')" data-bs-toggle="modal" data-bs-target=".View_CA_Rej_Details" class="mdi mdi-note-text" title="Reject Details" data-bs-original-title="Reject Details" aria-label="View" style="cursor: pointer;font-size:25px;"></i>

                                                        }
                                                        else if (@item_Ca.Insp_SV_CA_Reject_List == null && @item_Ca.Insp_SV_CA_ReAssign_List != null)
                                                        {
                                                            <br />
                                                            <i onclick="FnViewReAssignDetails('@item_Ca.Insp_SV_CA_ReAssign_List[0].Unique_Id','@item_Ca.Insp_SV_CA_ReAssign_List[0].Responsibility_To','@item_Ca.Insp_SV_CA_ReAssign_List[0].Re_Assign_To','@item_Ca.Insp_SV_CA_ReAssign_List[0].CreatedDate','@item_Ca.Insp_SV_CA_ReAssign_List[0].Remarks')" data-bs-toggle="modal" data-bs-target=".View_CA_Re_Asign_Details" class="mdi mdi-calendar-text" title="Re-Assign Details" data-bs-original-title="Re-Assign Details" aria-label="View" style="cursor: pointer;font-size:25px;"></i>
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                            Ac_subSno++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    }

    if (Model.Status == "Completed")
    {
        <input type="hidden" id="Insp_Request_Id" value="@Model!.Insp_Request_Id" class="Insp_Request_Id" />
        <input type="hidden" id="Zone_Id" value="@Model!.Zone_Id" class="Zone_Id" />
        <input type="hidden" id="Community_Id" value="@Model!.Community_Id" class="Community_Id" />
        <div class="row">
            <div class="row">
                <div class="card" style="border-radius: 0rem !important;box-shadow: 0 0px 0px #e4e8f0;border: 0px solid #eff0f2;">
                    <div class="card-header" style="background-color:#032639;height: 32px;">
                        <h5 class="card-title" style="color:white">A. Violation Information</h5>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-sm" style="margin-bottom: 0px;">
                    <tbody id="">
                        <tr>
                            <td><b class="font-bold">Date of observation</b></td>
                            <td>:</td>
                            <td class="tdtxt">@Model!.Inspection_Date</td>

                            <td><b class="font-bold">Time of observation</b></td>
                            <td>:</td>
                            <td class="tdtxt">@Model!.Inspection_Time</td>

                            <td><b class="font-bold">Business Unit</b></td>
                            <td>:</td>
                            <td class="tdtxt">@Model!.Business_Unit_Name</td>
                        </tr>
                        <tr>
                            <td><b class="font-bold">Zone</b></td>
                            <td>:</td>
                            <td class="tdtxt">@Model!.Zone_Name</td>

                            <td><b class="font-bold">Community</b></td>
                            <td>:</td>
                            <td class="tdtxt">@Model!.Community_Name</td>

                            <td><b class="font-bold">Responsible Department</b></td>
                            <td>:</td>
                            <td class="tdtxt">
                                @if (@Model!.Responsible_Dept == "Service_provider")
                                {
                                    <label>Service provider</label>
                                }
                                else
                                {
                                    <label>NCM Staff</label>
                                }

                            </td>
                        </tr>
                        <tr>

                            <td><b class="font-bold">Type Of Violation</b></td>
                            <td>:</td>
                            <td class="tdtxt">
                                @if (@Model.Safety_Violation_Sub_Type_List[0]!.Type_Master_Id == "-1")
                                {
                                    <label>Others : @Model.Safety_Violation_Sub_Type_List[0].Type_Master_Name</label>
                                }
                                else
                                {
                                    <label>@Model.Safety_Violation_Sub_Type_List[0].Type_Master_Name</label>
                                }
                            </td>

                            @if (@Model.Responsible_Dept == "Service_provider")
                            {
                                <td><b class="font-bold">Service provider</b></td>
                                <td>:</td>
                                <td class="tdtxt">@Model!.Emp_Service_provider_Name</td>
                            }
                            else
                            {
                                <td></td>
                                <td></td>
                                <td></td>
                            }
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="row">
                <div class="card" style="border-radius: 0rem !important;box-shadow: 0 0px 0px #e4e8f0;border: 0px solid #eff0f2;">
                    <div class="card-header" style="background-color:#032639;height: 32px;">
                        <h5 class="card-title" style="color:white">B. Brief Description Of Violation & Requirement(s)</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-sm" style="margin-bottom: 0px;margin-top: -8px;">
                        <tbody id="">
                            <tr>
                                <td style="width:30%;"><b class="font-bold">Description of Violation</b></td>
                                <td>:</td>
                                <td class="tdtxt">@Model.Description_Violation</td>

                                <td><b class="font-bold">Requirement(s)</b></td>
                                <td>:</td>
                                <td class="tdtxt">@Model!.Requirement</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
         <br />
        <div class="row">
            <div class="row">
                <div class="card" style="border-radius: 0rem !important;box-shadow: 0 0px 0px #e4e8f0;border: 0px solid #eff0f2;">
                    <div class="card-header" style="background-color:#032639;height: 32px;">
                        <h5 class="card-title" style="color:white">C. Photograph</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <table class="table table-sm" style="margin-bottom: 0px;margin-top: -8px;">
                    <tbody id="">
                        <tr>
                        <td style="width:14%;"><b class="font-bold">Picture</b></td>
                        <td>:</td>
                        <td class="tdtxt">
                            @if (@Model.Insp_Safe_Vio_Photos_List != null && @Model.Insp_Safe_Vio_Photos_List.Count > 0)
                            {
                                foreach (var item in @Model.Insp_Safe_Vio_Photos_List)
                                {
                                    <a href="@item.File_Path" target="_blank">
                                        <img target="_blank" src="@item.File_Path" width="100" height="80" style="padding: 3px;">
                                    </a> 
                                }
                            }else{
                               <label>NA</label>
                            }
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="row">
                <div class="card" style="border-radius: 0rem !important;box-shadow: 0 0px 0px #e4e8f0;border: 0px solid #eff0f2;">
                    <div class="card-header" style="background-color:#032639;height: 32px;">
                        <h5 class="card-title" style="color:white">D. Actions Taken And/or Recommended</h5>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: -14px;">
                <form id="F_Add_Corrective_Action">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table id="Sub_ActionTable" class="Sub_ActionTable table-sm tblround table table-bordered" style="width:100%;">
                                <thead style="background-color:#0b5578">
                                    <tr>
                                        <th scope="col" class="table-responsive">S.No</th>
                                        <th scope="col" class="table-responsive">Assign Action To</th>
                                        <th scope="col" class="table-responsive">Assignee</th>
                                        <th scope="col" class="table-responsive">Target Date</th>
                                        <th scope="col" class="table-responsive">Action Description</th>
                                        <th scope="col" class="table-responsive">Status</th>
                                        <th scope="col" class="table-responsive">Closure Description</th>
                                        <th scope="col" class="table-responsive">Evidence</th>
                                    </tr>
                                </thead>
                                <tbody id="Sub_ActionTable_Tbody" class="Sub_ActionTable_Tbody">
                                    @if (Model.Safety_Violation_CA_List != null)
                                    {
                                        var Ac_subSno = 1;
                                        foreach (var item_Ca in Model.Safety_Violation_CA_List)
                                        {
                                            <tr class="CA_Approval_tr_@Ac_subSno">
                                                <td>
                                                    <input class="form-control SV_Corrective_Action_Id" value="@item_Ca.SV_Corrective_Action_Id" type="hidden" id="SV_Corrective_Action_Id_@Ac_subSno">
                                                    <input class="form-control Assignee_Type" value="@item_Ca.Assignee_Type" type="hidden" id="Assignee_Type_@Ac_subSno">
                                                    <input class="form-control Responsibility_To" value="@item_Ca.Responsibility_To" type="hidden" id="Responsibility_To_@Ac_subSno">
                                                    <input class="form-control Target_Date" value="@item_Ca.Target_Date" type="hidden" id="Target_Date_@Ac_subSno">
                                                    <input class="form-control Action_Description" value="@item_Ca.Action_Description" type="hidden" id="Action_Description_@Ac_subSno">
                                                    <label>@Ac_subSno</label>
                                                </td>
                                                <td><label>@item_Ca.Assignee_Type</label></td>
                                                <td><label>@item_Ca.Responsibility_To_Name</label></td>
                                                <td><label>@item_Ca.Target_Date</label></td>
                                                <td><label>@item_Ca.Action_Description</label></td>
                                                <td class="CA_Approval_td_@Ac_subSno">
                                                    @if (@item_Ca.Status == "Completed")
                                                    {
                                                        <label style="color:green;">@item_Ca.Status</label>
                                                    }
                                                    else if (@item_Ca.Status == "Rejected")
                                                    {
                                                        <label style="color:red;">@item_Ca.Status</label>
                                                    }
                                                    else
                                                    {
                                                        <b style="color:#17a2b8;">@item_Ca.Status</b>
                                                    }
                                                </td>
                                                <td>
                                                    <label>@item_Ca.Closure_Action_Description</label>
                                                </td>
                                                <td>
                                                    @if (@item_Ca.Insp_SV_CA_Photo_List != null)
                                                    {
                                                        var dd = 1;
                                                        <div>
                                                            @foreach (var item_Ca_P in @item_Ca.Insp_SV_CA_Photo_List!)
                                                            {
                                                                var extn = @item_Ca_P.File_Path!.Split(".").Last();
                                                                var imagecontainer = "image-container" + @item_Ca_P.Insp_SV_CA_Photo_Id;
                                                                <div class="image-container @imagecontainer">
                                                                    <a href="@item_Ca_P.File_Path" target="_blank">
                                                                        @if (extn == "png" || extn == "jpeg" || extn == "jpg")
                                                                        {
                                                                            <img target="_blank" src="@item_Ca_P.File_Path" width="35" height="35">
                                                                        }
                                                                        else
                                                                        {
                                                                            <img src='~/assets/images/pdf.png' style="height: 25px;width: 25px;margin-left: 12px;margin-top: -8px;cursor: pointer;" />
                                                                        }
                                                                    </a>
                                                                </div>
                                                                dd++;
                                                            }
                                                        </div>
                                                    }
                                                </td>
                                            </tr>
                                            Ac_subSno++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    }
}


<script>
    $(document).ready(function () {
        $(".Sub_ActionTable").on("click", ".btn_Action_Delete_Button", function () {
            $(this).closest("tr").remove();
        });
        $('.TextArea_Autoresizing').on('input', function () {
            this.style.height = 'auto';

            this.style.height =
                (this.scrollHeight) + 'px';
        });
    });
    function FnActionClosureDescValid(Rowid) {
        var RowDesc_valid = "#Closure_Action_Description_" + Rowid + "-error";
        var RowDesc = "#Closure_Action_Description_" + Rowid;
        var varClosure_Action_Description = $(RowDesc).val();
        if (varClosure_Action_Description == "") {
            $(RowDesc_valid).text("This field is required");
            return false;
        }
        else {
            $(RowDesc_valid).text("");
        }
    }
    function Rej_CA_Photo_Del(Insp_SV_CA_Photo_Id, id) {
        Swal.fire(
            {
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning", showCancelButton: !0,
                confirmButtonColor: "#34c38f",
                cancelButtonColor: "#f46a6a",
                confirmButtonText: "Yes, delete it!"
            }).then(function (t) {
                if (t.isConfirmed) {
                    $.ajax({
                        url: '@Html.Raw(@Url.Action("Insp_SV_CA_Photo_Delete", "Inspection"))',
                        type: "POST",
                        cache: false,
                        async: false,
                        data: { Insp_SV_CA_Photo_Id: Insp_SV_CA_Photo_Id },
                        dataType: "json",
                        success: function (data) {
                            if (data == "200") {
                                var del_Class = ".image-container" + id;
                                $(del_Class).remove();
                                Swal.fire("Deleted!", "Your file has been deleted.", "success");
                            }
                            else {
                                Swal.fire("Failed!", "Something went wrong", "error");
                                return false;
                            }
                        },
                    });
                }
            });
    }
</script>




