@using Microsoft.AspNetCore.Http;
@using Nakheel_Web.Models.AccountsMaster;
@using Newtonsoft.Json;
@using static Nakheel_Web.Authentication.Common;
@inject IHttpContextAccessor HttpContextAccessor;
@{
    var str = HttpContextAccessor.HttpContext!.Session.GetString("Login");
    string Des = Decrypt(str!);
    Login_ LoginClass = JsonConvert.DeserializeObject<Login_>(Des!)!;
}

@{
    Layout = null;
}

<style>
    .form-label, .form-control {
        margin-bottom: 0.5rem;
        color: #141b2b;
        font-weight: 500;
        font-family: 'Nakheel-Textregular';
        font-size: 15px;
    }

    label {
        color: #141b2b;
        font-weight: 500;
        font-family: 'Nakheel-Textregular' !important;
        font-size: 15px;
    }

    table {
        font-family: 'Nakheel-Textregular';
    }

    span {
        font-weight: 500;
        font-family: 'Nakheel-Textregular';
        font-size: 15px;
    }

    .Cls_History_Approval {
        background: #00263a;
        color: white;
        height: 30px;
        width: 100%;
    }
</style>
<style>
    .accordion-button {
        background-color: #00263a !important;
        color: white;
    }

        .accordion-button:not() {
            background-color: #00263a !important;
            color: white;
        }

    .accordion-body {
        padding: 0rem 0.25rem !important;
    }

    .accordion-button:not(.collapsed) {
        color: white !important;
    }
</style>
@model Nakheel_Web.Models.HandOverInsMaster.M_HandOver_Insp_Model;
@if (Model != null)
{
    <div class="row">
        <div class="col-12">
            <div class="row">
                <!-- HandOver Building Detail -->
                <div class="col-xxl-12 mb-5 mb-xxl-0">
                    @if (Model != null)
                    {
                        <div class="">
                            <br />
                            <input type="hidden" value="@Model.Insp_HndOver_Building_Id" id="Insp_HndOver_BId">
                            <input type="hidden" value="@LoginClass.Employee_Identity_Id" id="CreatedBy">
                            <input type="hidden" value="@Model.Zone_Id" id="Zone_Id">
                            <input type="hidden" value="@Model.Community_Id" id="ECommunity_Id">
                            <table class="table table-sm tab ">
                                <tbody id="tblHndOverView">
                                    <tr>
                                        <td><b class="font-bold">Reference no  </b></td>
                                        <td>:</td>
                                        <td class="tdtxt">NCM-@Model.Unique_Id</td>

                                        <td style="display:none"><b class="font-bold">Company Name</b></td>
                                        <td style="display:none">:</td>
                                        <td class="tdtxt" style="display:none">@Model.Company_Name</td>

                                        <td><b class="font-bold">Inspected By</b></td>
                                        <td>:</td>
                                        <td class="tdtxt">@Model.Inspected_By_Name</td>

                                        <td><b class="font-bold">Date and Time</b></td>
                                        <td>:</td>
                                        <td class="tdtxt">@Model.Date_of_Audit</td>
                                    </tr>
                                    <tr>
                                        <td><b class="font-bold">Business Unit</b></td>
                                        <td>:</td>
                                        <td class="tdtxt">@Model.Business_Unit_Name</td>

                                        <td><b class="font-bold">Zone</b></td>
                                        <td>:</td>
                                        <td class="tdtxt">@Model.Zone_Name</td>

                                        <td><b class="font-bold">Community</b></td>
                                        <td>:</td>
                                        <td class="tdtxt">@Model.Community_Name</td>
                                    </tr>
                                    <tr>
                                        <td><b class="font-bold">Building</b></td>
                                        <td>:</td>
                                        <td class="tdtxt">@Model.Building_Name</td>

                                        @if (Model.Business_Unit_Type_Name != "0" && Model.Business_Unit_Type_Name != null)
                                        {
                                            var obane = "";
                                            <td><b class="font-bold">Business Unit Type</b></td>
                                            <td>:</td>
                                            @if (Model.Business_Unit_Type_Name == "Party")
                                            {
                                                obane = "JOP 3rd Party";
                                            }
                                            else if (Model.Business_Unit_Type_Name == "JOP_Common")
                                            {
                                                obane = "JOP-Common Area";
                                            }
                                            else
                                            {
                                                obane = "Master Community";
                                            }
                                            <td class="tdtxt" style="word-break: break-all">@obane</td>
                                        }

                                        @*@if (Model!.Status == "1")
                                        {
                                            @if (LoginClass.Role_Id == "9" || LoginClass.Role_Id == "10" || LoginClass.Role_Id == "11")
                                            {
                                                <td><b class="font-bold">Date of Audit/Inspection</b></td>
                                                <td>:</td>
                                                <td><input class="form-control" type="date" id="Audit_Date" name="Audit_Date" /></td>
                                            }
                                        }*@
                                    </tr>
                                    <tr>
                                        @if (Model!.Inspected_By_Id == "2")
                                        {
                                            <td><b class="font-bold">Handover Type</b></td>
                                            <td>:</td>
                                            <td class="tdtxt">@Model.HandOver_Type</td>

                                            <td><b class="font-bold">Handover Type List</b></td>
                                            <td>:</td>
                                            <td class="tdtxt">@Model.HandOver_Type_List</td>
                                        }
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- History of Fire & Life Safety -->
    <div class="card-body">
        <div class="row">
            <div class="col-xl-12">
                <div class="mt-xl-0 mt-4">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button fw-medium collapsed Cls_History_Approval" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    History of Approval
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="text-muted">
                                        @if (Model!.L_HandOver_Building_History != null && Model.L_HandOver_Building_History.Count != 0)
                                        {
                                            <br>
                                            <table id="tblFireLifeSafetyHistory" class="table table-sm table-striped dt-responsive nowrap tblround" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th>Employee Name</th>
                                                        <th>Role</th>
                                                        <th>Assigned/ Created Date</th>
                                                        <th>Action Taken Date</th>
                                                        <th>Prev.Status</th>
                                                        <th>Cur.Status</th>
                                                        <th>Next Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="GettblIncidentHistory">
                                                    @foreach (var item in Model.L_HandOver_Building_History)
                                                    {
                                                        <tr class="clstr">
                                                            <td align="left" valign="middle">@item.Action_Id</td>
                                                            <td align="left" valign="middle">@item.Role_Id</td>
                                                            <td align="left" valign="middle">@item.Updated_DateTime</td>
                                                            <td align="left" valign="middle">@item.CreatedDate</td>
                                                            <td align="left" valign="middle">@item.Status</td>
                                                            <td align="left" valign="middle">@item.Remarks</td>
                                                            <td align="left" valign="middle">@item.Next_Action</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Acknowledged By HSE Team -->
    @*@if (Model!.Status == "1")
    {
        @if (LoginClass.Role_Id == "9" || LoginClass.Role_Id == "10" || LoginClass.Role_Id == "11")
        {
            <div>
                <form id="F_Incident_Observation_Ack" action="#" method="post" class="row NotValid" novalidate="novalidate">
                    <div class="row">
                        <div class="col-lg-6">
                            <button type="button" class="btn btn-success waves-effect waves-light submit_Approval" style="float: right;cursor:pointer">
                                <i class="bx bx-check-double font-size-16 align-middle me-2"></i> Approval
                            </button>
                        </div>
                        <div class="col-lg-6">
                            <button type="reset" class="btn btn-danger waves-effect waves-light" style="cursor:pointer;">
                                <i class="bx bx-block font-size-16 align-middle me-2"></i> Cancel
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        }
    }*@
    <br>
}

<script>
    debugger;
    $(document).ready(function () {
        var now = new Date();
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        var today = now.getFullYear() + "-" + (month) + "-" + (day);
        $("#Audit_Date").val(today);
    })
    $(".submit_Approval").click(function () {
        debugger
        var val = $("#Insp_HndOver_BId").val();
        //alert(val)
        var Obj = {
            Insp_HndOver_Building_Id: $("#Insp_HndOver_BId").val(),
            Date_of_Audit: $("#Audit_Date").val()
        };
        $.ajax({
            url: "/HandOverInspection/Update_HndOver_Building_Pending",
            type: "POST",
            cache: false,
            data: JSON.stringify(Obj),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data == "200") {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Updated Successfully',
                        showConfirmButton: false,
                        timer: 1500
                    }).then(function () {
                        window.location.reload();
                    });
                }
                else {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'Error',
                        title: 'Error',
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
            },
        });
    });
</script>
