@using Microsoft.AspNetCore.Http;
@using Nakheel_Web.Models.AccountsMaster;
@using Newtonsoft.Json;
@using static Nakheel_Web.Authentication.Common;
@inject IHttpContextAccessor HttpContextAccessor;
@{
    var str = HttpContextAccessor.HttpContext!.Session.GetString("Login");
    string Des = Decrypt(str!);
    Login_ LoginClass = JsonConvert.DeserializeObject<Login_>(Des!)!;
}
@{
    Layout = null;
}
@model Nakheel_Web.Models.HandOverInsMaster.M_Insp_FireLifeSafety_Model;
<div class="row">
    <div class="col-12">
        <div class="row">
            <!-- Fire & Life Safety Detail -->
            <div class="col-xxl-12 mb-5 mb-xxl-0">
                @if (Model != null)
                {
                    <div class="">
                        <br />
                        <input type="hidden" value="@Model.Insp_Request_Id" id="CAInsp_Request_Id">
                        <input type="hidden" value="@Model.Unique_Id" id="EUnique_Id">
                        <input type="hidden" value="@LoginClass.Employee_Identity_Id" id="ECreatedBy">
                        <input type="hidden" value="@Model.Business_Unit_Id" id="EBusiness_Unit_Id">
                        <input type="hidden" value="@Model.Zone_Id" id="EZone_Id">
                        <input type="hidden" value="@Model.Community_Id" id="ECommunity_Id">
                        <input type="hidden" value="@Model.Building_Id" id="EBuilding_Id">
                        <input type="hidden" value="@Model.Inspection_Date" id="EInspection_Date">
                        <table class="table table-sm tblround tab">
                            <tbody id="tblFireLifeSafetyView">
                                <tr>
                                    <td><b class="font-bold">Reference No</b></td>
                                    <td>:</td>
                                    <td class="tdtxt">NCM-@Model.Unique_Id</td>

                                    <td style="display:none"><b class="font-bold">Company Name</b></td>
                                    <td style="display:none">:</td>
                                    <td class="tdtxt" style="display:none">@Model.Company_Name</td>

                                    <td><b class="font-bold">Inspected By</b></td>
                                    <td>:</td>
                                    <td class="tdtxt">@Model.Inspected_By_Name</td>

                                    <td><b class="font-bold">Inspection Date</b></td>
                                    <td>:</td>
                                    <td class="tdtxt">@Model.Inspection_Date</td>
                                </tr>
                                <tr>
                                    <td><b class="font-bold">Business Unit</b></td>
                                    <td>:</td>
                                    <td class="tdtxt">@Model.Business_Unit_Name</td>

                                    <td><b class="font-bold">Zone</b></td>
                                    <td>:</td>
                                    <td class="tdtxt">@Model.Zone_Name</td>

                                    <td><b class="font-bold">Community</b></td>
                                    <td>:</td>
                                    <td class="tdtxt">@Model.Community_Name</td>
                                </tr>
                                <tr>
                                    <td><b class="font-bold">Building</b></td>
                                    <td>:</td>
                                    <td class="tdtxt">@Model.Building_Name</td>

                                    @if (Model.Business_Unit_Type_Name != "0" && Model.Business_Unit_Type_Name != null)
                                    {
                                        var obane = "";
                                        <td><b class="font-bold">Business Unit Type</b></td>
                                        <td>:</td>
                                        @if (Model.Business_Unit_Type_Name == "Party")
                                        {
                                            obane = "JOP 3rd Party";
                                        }
                                        else if (Model.Business_Unit_Type_Name == "JOP_Common")
                                        {
                                            obane = "JOP-Common Area";
                                        }
                                        else
                                        {
                                            obane = "Master Community";
                                        }
                                        <td class="tdtxt" style="word-break: break-all">@obane</td>
                                    }
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<form id="F_FireLifeSafety_ChkList_View" action="#" method="post" class="row NotValid" novalidate="novalidate">
    <div class="row">
        <div class="col-12">
            <!-- Question Details -->
            <div class="col-xxl-12 mb-5 mb-xxl-0">
                <div class="" style="height:500px;overflow-y:scroll">
                    <br />
                    <table class="table tab ">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th style="width:20%;">Questionnaire</th>
                                <th>Action</th>
                                <th>Details of Evidence</th>
                                <th>Risk Level</th>
                                <th>Risk Description</th>
                                <th>Description of Action</th>
                                <th>Category</th>
                                <th>Sub Category</th>
                                <th>Photo</th>
                            </tr>
                        </thead>
                        <tbody id="tblFireLifeSafetyQns">
                            @if (Model != null)
                            {
                                var subSno = 1;
                                foreach (var Question in Model.L_Insp_FireLifeSafety_Qns!)
                                {
                                    <input type="hidden" id="Bldg_Action_Id" value="0">
                                    <tr>
                                        <td style="display:none;"><input type="hidden" value="@Question.Insp_Topic_Id" class="Insp_Topic_Id" /></td>
                                        <td style="display:none;"><input type="hidden" value="@Question.Insp_Questionnaires_Id" class="Insp_Question_Id" /></td>
                                        <td><b>@subSno</b></td>
                                        <td>
                                            <b disabled class="Questionaire_Id" asp-for="@Question.Insp_Questionnaires_Name">@Question.Insp_Questionnaires_Name </b>
                                        </td>
                                        <td>@Question.Qns_Action</td>
                                        <td>@Question.Details_of_Evidence</td>
                                        <td>@Question.Risk_Level</td>
                                        <td>@Question.Risk_Description</td>
                                        <td>@Question.Description_Action</td>
                                        <td>@Question.Category</td>
                                        <td>@Question.Sub_Category</td>
                                        @if (@Question.Photo_File_Path != null)
                                        {
                                            <td><a href="@Question.Photo_File_Path" target="_blank"><img src='@Question.Photo_File_Path' style="height:75px;width:75px;padding:12px;" /></a></td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    </tr>
                                    subSno++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Observation Details -->
            @if (Model!.L_Insp_FireLifeSafety_Observation != null && Model!.L_Insp_FireLifeSafety_Observation.Count != 0)
            {
                <div class="col-xxl-12 mb-5 mb-xxl-0">
                    <div class="" style="overflow-y:scroll">
                        <br />
                        <table class="table table-sm table-striped dt-responsive nowrap tblround">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Observation</th>
                                    <th>Hazard & Risk</th>
                                    <th>Requirements</th>
                                    <th>Description of Action</th>
                                    <th>Category</th>
                                    <th>Sub Category</th>
                                    <th>Risk Level</th>
                                    <th>Photo</th>
                                </tr>
                            </thead>
                            <tbody id="tblFireLifeSafetyObs">
                                @if (Model != null)
                                {
                                    var subSno = 1;
                                    foreach (var Observ in Model.L_Insp_FireLifeSafety_Observation!)
                                    {
                                        <tr>
                                            <td>
                                                <input type="hidden" value="@Observ.Insp_Topic_Id" class="Insp_Topic_Id" />
                                                <input type="hidden" value="@Observ.Insp_Questionnaires_Id" class="Insp_Question_Id" />
                                                <b>@subSno</b>
                                            </td>
                                            <td>
                                                <b disabled class="Questionaire_Id" asp-for="@Observ.Insp_Questionnaires_Name">@Observ.Insp_Questionnaires_Name </b>
                                            </td>
                                            <td>@Observ.Hazard_Risk</td>
                                            <td>@Observ.Requirements</td>
                                            <td>@Observ.Description_Action</td>
                                            <td>@Observ.Category</td>
                                            <td>@Observ.Sub_Category</td>
                                            <td>@Observ.Risk_Level</td>
                                            @if (@Observ.Photo_File_Path != null)
                                            {
                                                <td><a href="@Observ.Photo_File_Path" target="_blank"><img src='@Observ.Photo_File_Path' style="height:75px;width:75px;padding:12px;" /></a></td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                        </tr>
                                        subSno++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            @if (Model != null)
            {
                var subSno = 1;
                var CAsubSno = 1;
                <div class="row">
                    <div class="col-lg-12">
                        <div class="mb-6">
                            <label for="basicpill-lastname-input" class="form-label">
                                Corrective Action Details <span class="requ">*</span>
                            </label> <br />
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="Sub_ActionTableCA_@subSno" class="Sub_ActionTable table-sm table-bordered tblround nowrap" style="width:100%;">
                        <thead style="background-color:#0b5578">
                            <tr>
                                <th scope="col" class="table-responsive">S.No</th>
                                <th scope="col" class="table-responsive">Assign Action to</th>
                                <th scope="col" class="table-responsive">Assignee</th>
                                <th scope="col" class="table-responsive">Target Date</th>
                                <th scope="col" class="table-responsive">Description</th>
                                <th scope="col" class="table-responsive">Status</th>
                                <th scope="col" class="table-responsive">Action Taken</th>
                                <th scope="col" class="table-responsive">Evidence</th>
                                <th scope="col" class="table-responsive">Action</th>
                            </tr>
                        </thead>
                        <tbody id="Sub_ActionTable_Tbody_@subSno">

                            @foreach (var Actions in Model.L_Insp_FireLifeSafety_CA!)
                            {
                                <tr class="SubAssigntr_@CAsubSno">
                                    <td>@CAsubSno</td>
                                    <td style="min-width:150px;">
                                        <input type="hidden" value="@Actions.Corrective_Action_Id" id="Corrective_Action_CAId" class="Corrective_Action_CAId">
                                        @Actions.Assignee_Type
                                    </td>
                                    <td style="min-width:100px;">@Actions.Responsible_Id</td>
                                    <td style="min-width:100px;">@Actions.Target_Date</td>
                                    <td style="min-width:100px;">@Actions.Description_Action</td>
                                    <td style="width: 180px;">
                                        @if (@Actions.Status == "Completed")
                                        {
                                            <label style="color:green;">@Actions.Status</label>
                                        }
                                        else if (@Actions.Status == "Rejected")
                                        {
                                            <label style="color:red;">@Actions.Status</label>
                                        }
                                        else
                                        {
                                            <label style="color:#17a2b8;">@Actions.Status</label>
                                        }
                                    </td>
                                    <td style="min-width:180px;">
                                        @if (@Actions.Status == "Completed")
                                        {
                                            <label>@Actions.Action_Taken</label>
                                        }
                                        else if (@Actions.Status == "HSE Approval Pending")
                                        {
                                            <label>@Actions.Action_Taken</label>
                                        }
                                        else if (@Actions.Status == "Zone Approval Pending")
                                        {
                                            <label>@Actions.Action_Taken</label>
                                        }
                                        else
                                        {
                                            <textarea id="Action_Taken" class="form-control Action_Taken" name="Action_Taken" rows="1" required></textarea>
                                        }

                                    </td>
                                    <td style="width: 200px;">
                                        @if (@Actions.Status == "Completed")
                                        {
                                            <label><a href="@Actions.Photo_File_Path" target="_blank"><img src='@Actions.Photo_File_Path' style="height:70px;width:70px;padding:12px;" /></a></label>
                                        }
                                        else if (@Actions.Status == "HSE Approval Pending")
                                        {
                                            <a href="@Actions.Photo_File_Path" target="_blank"><img src='@Actions.Photo_File_Path' style="height:70px;width:70px;padding:12px;" /></a>
                                        }
                                        else if (@Actions.Status == "Zone Approval Pending")
                                        {
                                            <a href="@Actions.Photo_File_Path" target="_blank"><img src='@Actions.Photo_File_Path' style="height:70px;width:70px;padding:12px;" /></a>
                                        }
                                        else
                                        {
                                            <input id="file_@CAsubSno" class="form-control file InputPhoto" onchange="uploadFiles('file_@CAsubSno','UploadPhotos_@CAsubSno')" type="file" accept=".png, .jpg, .jpeg">
                                            <input type="hidden" value="" class="UploadPhotos" name="UploadPhotos0" id="UploadPhotos_@CAsubSno">
                                        }
                                    </td>
                                    <td style="width: 100px;">
                                        @if (LoginClass.Role_Id == "5")
                                        {
                                            @if (Actions.Assignee_Type == "Zone Team")
                                            {
                                                @if (@Actions.Status == "Completed")
                                                {
                                                    <label>--</label>
                                                }
                                                else if (@Actions.Status == "HSE Approval Pending")
                                                {
                                                    <label>--</label>
                                                }
                                                else if (@Actions.Status == "Zone Approval Pending")
                                                {
                                                    <label>--</label>
                                                }
                                                else
                                                {
                                                    <button onclick="FnActionClosureSubmit('@CAsubSno')" type="button" class="btn FnActionClosureSubmitCA btn-success eva-plus-circle-outline icon nav-icon" style="height: 28px;width: 67px;background: green;border: green;">
                                                        Submit
                                                    </button>
                                                }
                                            }
                                        }
                                        else if (LoginClass.Role_Id == "16" || LoginClass.Role_Id == "17" || LoginClass.Role_Id == "18")
                                        {
                                            @if (Actions.Assignee_Type == "Service Provider")
                                            {
                                                @if (@Actions.Status == "Completed")
                                                {
                                                    <label>--</label>
                                                }
                                                else if (@Actions.Status == "HSE Approval Pending")
                                                {
                                                    <label>--</label>
                                                }
                                                else if (@Actions.Status == "Zone Approval Pending")
                                                {
                                                    <label>--</label>
                                                }
                                                else
                                                {
                                                    <button onclick="FnActionClosureSubmit('@CAsubSno')" type="button" class="btn FnActionClosureSubmitCA btn-success eva-plus-circle-outline icon nav-icon" style="height: 28px;width: 67px;background: green;border: green;">
                                                        Submit
                                                    </button>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            <label class="Dash_Show_Hide">--</label>
                                        }
                                    </td>
                                </tr>
                                CAsubSno++;
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
</form>
<script>
    function uploadFiles(inputId, UploadPhotoId) {
        var input = document.getElementById(inputId);
        var files = input.files;
        var formData = new FormData();
        if (files.length <= 5) {
            for (var i = 0; i != files.length; i++) {
                formData.append("files", files[i]);
            }
            var _url = '@Url.Action("Upload_Picture", "HandOverInspection")';
            $.ajax({
                url: _url,
                data: formData,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (data) {
                    //debugger;
                    if (data != "" && data != null) {
                        var Photo_List = [];
                        var val_UploadPhotos = data.split(',');
                        var i;
                        for (i = 0; i < val_UploadPhotos.length; i++) {
                            var x = val_UploadPhotos[i].replace(/[\(\)\[\]{}'"]/g, "");
                            if (x != "/") {
                                var Pdata = {};
                                Pdata.File_Path = x;
                                Photo_List.push(Pdata);
                            }
                        }

                        $(Photo_List).each(function (i, e) {
                            if (e.File_Path == "Invalid Format") {
                                $("#" + inputId).val("");
                                $("#" + UploadPhotoId).val("");
                                toastr["error"]("Invalid Format");
                                return false;
                            } else {
                                $("#" + UploadPhotoId).val("");
                                $("#" + UploadPhotoId).val(data);
                                toastr["success"]("Uploaded Successfully");
                            }
                        });
                    }
                }
            });
        }
        else {
            $("#" + inputId).val("");
            $("#" + UploadPhotoId).val("");
            toastr["info"]("Maximum Allowed 5 Files");
        }
    }
    function FnActionClosureSubmit(Rowid) {
        //debugger;
        $('.FnActionClosureSubmitCA').prop('disabled', true);
        var Photo_List = [];
        var varInsp_Request_Id = $("#CAInsp_Request_Id").val();
        var varCorrective_Action_Id = "0";
        var trRowid = ".SubAssigntr_" + Rowid;
        var varCorrective_Action_Id = $(trRowid).closest('tr').find('#Corrective_Action_CAId').val();
        var var_V_Main_UploadPhotos = $(trRowid).closest('tr').find('.UploadPhotos').val();
        var varAction_Taken = $(trRowid).closest('tr').find('.Action_Taken').val();
        if (var_V_Main_UploadPhotos != "" && var_V_Main_UploadPhotos != null) {
            Photo_List = [];
            var val_UploadPhotos = var_V_Main_UploadPhotos.split(',');
            var i;
            for (i = 0; i < val_UploadPhotos.length; i++) {
                var x = val_UploadPhotos[i].replace(/[\(\)\[\]{}'"]/g, "");
                if (x != "/") {
                    var Pdata = {};
                    Pdata.Photo_File_Path = x;
                    Pdata.Photo_Id = "0";
                    Pdata.Insp_Request_Id = varInsp_Request_Id;
                    Photo_List.push(Pdata);
                }
            }
        }
        var ObjFLs = {};
        ObjFLs.Action_Taken = varAction_Taken;
        ObjFLs.Corrective_Action_Id = varCorrective_Action_Id;
        ObjFLs.Insp_Request_Id = varInsp_Request_Id;
        ObjFLs.L_M_Insp_FireLifeSafety_Photos = Photo_List;

        $.ajax({
            url: "/HandOverInspection/FireLifeSafety_Closure_Action_Add",
            type: "POST",
            cache: false,
            data: JSON.stringify(ObjFLs),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data == "200") {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Updated Successfully',
                        showConfirmButton: false,
                        timer: 1500
                    }).then(function () {
                        $('.FnActionClosureSubmit').prop('disabled', false);
                        Fn_Add_Action_Closure(varInsp_Request_Id);
                    });
                }
                else {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'Error',
                        title: 'Error',
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
            },
        });
    }
    function Fn_Add_Action_Closure(id) {
        $(UI_Fields.List_View_CA_Div).hide(100);
        $(UI_Fields.Add_Insp_Finding_Closure_Div).show(100);
        $.post("@Url.Action("_ViewFireLifeSafetyClosureAction", "HandOverInspection")", { Insp_Request_Id: id }, function (data) {
            $(UI_Fields.Load_Add_Insp_Finding_Closure_Div).html('');
            $(UI_Fields.Load_Add_Insp_Finding_Closure_Div).html(data);
        }).always(function () {
            $(UI_Fields.Add_Insp_Finding_Closure_Div).show(100);
            $(".FnActionClosureSubmitCA").hide(100);
        });
    }
</script>