@using Microsoft.AspNetCore.Http;
@using Nakheel_Web.Models.AccountsMaster;
@using Newtonsoft.Json;
@using static Nakheel_Web.Authentication.Common;
@inject IHttpContextAccessor HttpContextAccessor;
@{
    var str = HttpContextAccessor.HttpContext!.Session.GetString("Login");
    string Des = Decrypt(str!);
    Login_ LoginClass = JsonConvert.DeserializeObject<Login_>(Des!)!;
}
@model Nakheel_Web.Models.HandOverInsMaster.M_Insp_HealthSafety_Model;
@if (Model != null)
{
    <form id="F_HealthSafety_ChkList_ViewCS" action="#" method="post" class="row NotValid" novalidate="novalidate">
        <div class="row">
            <div class="col-12">
                <!-- Contact Detail -->
                <div class="col-xxl-12 mb-5 mb-xxl-0">
                    <div class="table-responsive" style="height:500px; overflow-y: scroll;">
                        <br />
                        <table class="table table-sm table-striped dt-responsive nowrap tblround" id="tblHealthSafetyInspQnsCS" style="width:130%">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th style="width:15%;">Questionnaire</th>
                                    <th>Action</th>
                                    <th>Photo</th>
                                    <th>Hazard & Risk</th>
                                    <th>Requirements</th>
                                    <th>Description of Action/Observation</th>
                                    <th>Category</th>
                                    <th>Sub Category</th>
                                    <th style="width:10%;">Risk Level</th>
                                </tr>
                            </thead>
                            <tbody id="tblHealthSafetyBuildingQn">
                                @if (Model.L_Insp_HealthSafety_Questionnaires != null)
                                {
                                    <input type="hidden" value="@Model.Insp_HealthSafety_Id" id="Insp_HealthSafety_IdCS">
                                    var subSno = 1;
                                    foreach (var Question in Model.L_Insp_HealthSafety_Questionnaires!)
                                    {
                                        @*<tr>Authority Approval / Legal Compliance</tr>*@
                                        <tr>
                                            <td style="display:none;"><input type="hidden" value="@Question.Insp_Topic_Id" class="Insp_Topic_IdCS" /></td>
                                            <td style="display:none;"><input type="hidden" value="@Question.Insp_Questionnaires_Id" class="Insp_Question_IdCS" /></td>
                                            <td><b>@subSno</b></td>
                                            <td>
                                                @*<b disabled class="Topic_IdCS" asp-for="@Question.Insp_Topic_Name">@Question.Insp_Topic_Name </b><br />*@
                                                <b disabled class="Questionaire_IdCS" asp-for="@Question.Insp_Questionnaires_Name">@Question.Insp_Questionnaires_Name </b>
                                            </td>
                                            <td>
                                                <input type="radio" name="ActionCS_@subSno" id="Action_QnsCS_@subSno" class="Qns_ActionCS" value="Yes" style="vertical-align: middle;" onclick="Fn_ActionCheckCS('@subSno','Yes')" />&nbsp;Yes<br />
                                                <input type="radio" name="ActionCS_@subSno" id="Action_QnsCS_@subSno" class="Qns_ActionCS" value="No" style="vertical-align: middle;" onclick="Fn_ActionCheckCS('@subSno','No')" />&nbsp;No<br />
                                                <input type="radio" name="ActionCS_@subSno" id="Action_QnsCS_@subSno" class="Qns_ActionCS" value="NA" style="vertical-align: middle;" onclick="Fn_ActionCheckCS('@subSno','NA')" checked />&nbsp;NA
                                            </td>
                                            <td>
                                                <input id="fileCS_@subSno" class="form-control file InputPhoto" onchange="uploadFiles('fileCS_@subSno','UploadPhotosCS_@subSno')" type="file" accept=".png, .jpg, .jpeg">
                                                <input type="hidden" value="" class="QnPhotoCS" name="QnPhotoCS_@subSno" id="UploadPhotosCS_@subSno">
                                            </td>
                                            <td>
                                                <textarea type="file" required name="Hazard_RiskCS_@subSno" id="Hazard_RiskCS_@subSno" class="form-control Hazard_RiskCS" style="overflow-y:scroll;"></textarea>
                                            </td>
                                            <td>
                                                <textarea type="file" required name="RequirementsCS_@subSno" id="RequirementsCS_@subSno" class="form-control RequirementsCS" style="overflow-y:scroll;"></textarea>
                                            </td>
                                            <td>
                                                <textarea type="file" required name="QnDescriptionCS_@subSno" id="QnDescriptionCS_@subSno" class="form-control QnDescriptionCS" style="overflow-y:scroll;"></textarea>
                                            </td>
                                            <td>
                                                <select onchange="SubCategoryListCS(this.value, @subSno)" required class="form-select Insp_CategoryCS" id="Insp_CategoryCS_@subSno" name="Insp_CategoryCS_@subSno">
                                                    <option value="" style="text-align:center;" disabled selected="selected">--Select--</option>
                                                    <option value="1">Health & Safety</option>
                                                    <option value="2">Fire & Life Safety</option>
                                                    <option value="3">Environmental</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select class="form-select Sub_CategoryCS" required name="Sub_CategoryCS_@subSno" id="Sub_CategoryCS_@subSno" style="width:250px;">
                                                    <option value="" style="text-align:center;" disabled selected="selected">--Select--</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select class="form-control Insp_RiskCS" required id="Insp_RiskCS_@subSno" name="Insp_RiskCS_@subSno" style='text-align:center;'>
                                                    <option value="">--Select--</option>
                                                    <option value="Low">Low</option>
                                                    <option value="Medium">Medium</option>
                                                    <option value="High">High</option>
                                                </select>
                                            </td>
                                        </tr>
                                        subSno++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-9">
                            <h4 class="d-flex align-items-center mb-3">Other Observations</h4>
                        </div>
                        <div class="mb-6">
                            <button type="button" style="background-color: #032639;color:white;float: right;height: 33px;margin-top: -34px;" class="btn" value="Add" onclick="Fn_Add_More_FindingHSCS()">+Add More</button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="tbl_Temp_Insp_HSCSObser" class="table tblround table-sm table-striped" style="width:200%">
                        <thead>
                            <tr>
                                <th>Observations</th>
                                <th>Hazard & Risk</th>
                                <th>Requirements</th>
                                <th>Description of Action Required</th>
                                <th>Category</th>
                                <th>Observation Type</th>
                                <th>Risk Level</th>
                                <th>Evidence</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input class="form-control Insp_HSObs_IdCS" value="0" type="hidden" id="Insp_HSObs_IdCS">
                                    <textarea id="HS_ObservationsCS" name="HS_ObservationsCS" class="form-control HS_ObservationsCS" placeholder="Enter Observations" rows="1"></textarea>
                                </td>
                                <td>
                                    <textarea id="HS_HazardRiskCS" name="HS_HazardRiskCS" class="form-control HS_HazardRiskCS" placeholder="Enter Hazard & Risk" rows="1"></textarea>
                                </td>
                                <td>
                                    <textarea id="HS_RequirementsCS" name="HS_RequirementsCS" class="form-control HS_RequirementsCS" placeholder="Enter Requirements" rows="1"></textarea>
                                </td>
                                <td>
                                    <textarea id="HS_ActionRequiredCS" name="HS_ActionRequiredCS" class="form-control HS_ActionRequiredCS" placeholder="Enter Action Required" rows="1"></textarea>
                                </td>
                                <td style="width: 150px;">
                                    <select onchange="SuCatCS(this.value)" class="form-select HS_CategoryCS" id="HS_CategoryCS" >
                                        <option value="" style="text-align:center;" disabled selected="selected">--Select--</option>
                                    </select>
                                </td>
                                <td style="width: 200px;">
                                    <select class="form-select HS_SubCategoryCS" name="HS_SubCategoryCS" id="HS_SubCategoryCS" style="width:250px;" >
                                        <option value="" style="text-align:center;" disabled selected="selected">--Select--</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-select HS_RiskLevelCS" name="HS_RiskLevelCS" id="HS_RiskLevelCS">
                                        <option value="" disabled selected="selected">--Select--</option>
                                        <option value="High">High</option>
                                        <option value="Medium">Medium</option>
                                        <option value="Low">Low</option>
                                    </select>
                                </td>
                                <td style="width: 180px;">
                                    <input id="file20" class="form-control file InputPhotoCS" onchange="uploadFilesCS('file20','UploadPhotos20')" type="file" accept=".png, .jpg, .jpeg">
                                    <input type="hidden" value="" class="UploadPhotosCS" name="UploadPhotos20" id="UploadPhotos20">
                                </td>
                                <td>
                                    <label>
                                        <i class="mdi mdi-delete TblDeleteButtonCS font-size-18" style="color:red;">
                                        </i>
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        @if (Model!.Status == "Finding Pending" || Model!.Status == "Schedule Initiated" || Model!.Status == "Inspection Rejected")
        {
            @if (LoginClass.Role_Id == "9" || LoginClass.Role_Id == "10" || LoginClass.Role_Id == "11")
            {
                <div>
                    <br />
                    <!-- Safety Violation -->
                    <div class="row">
                        <div class="mb-6">
                            <label for="example-text-input" class="col-md-8 col-form-label">
                                Raise the Safety Violation Notice ?<span class="requ">*</span>
                                <label for="Safety_Violation_Yes" onclick="FnSafetyViolation_YesCS('1')"> <input id="Safety_Violation_Yes" class="Safety_Violation_CS" name="Safety_Violation_CS" type="radio" value="Yes" checked>&nbsp;Yes</label>&nbsp;&nbsp;
                                <label for="Safety_Violation_No" onclick="FnSafetyViolation_YesCS('2')"> <input id="Safety_Violation_No" class="Safety_Violation_CS" name="Safety_Violation_CS" type="radio" value="No">&nbsp;No</label>
                            </label>
                        </div>
                        <div class="mb-6" id="Safety_DescriptionCS" style=" display:none;">
                            <label for="example-number-input" class="col-md-4 col-form-label">Remarks</label>
                            <textarea class="form-control mb-6" id="SVCS_Description" name="SVCS_Description"></textarea>
                            <br />
                        </div>
                        <div class="col-lg-6">
                            <button type="button" class="btn btn-success waves-effect waves-light submit_FindingsCS" onclick="Fn_HS_ScheduleFindings_Submit()" style="float: right;cursor:pointer">
                                <i class="bx bx-check-double font-size-16 align-middle me-2"></i> Submit
                            </button>
                        </div>
                        <div class="col-lg-6" style=" display:none;">
                            <button type="reset" class="btn btn-danger waves-effect waves-light" style="cursor:pointer;">
                                <i class="bx bx-block font-size-16 align-middle me-2"></i> Cancel
                            </button>
                        </div>
                    </div>
                </div>
            }
        }
    </form>
}
<script>
    var Qns_Action_Check = $(".Qns_ActionCS").val();
    if (Qns_Action_Check == "Yes" || Qns_Action_Check == "NA") {
        $(".Hazard_RiskCS").attr('disabled', 'disabled');
        $(".RequirementsCS").attr('disabled', 'disabled');
        //$(".QnDescriptionCS").attr('disabled', 'disabled');
        $(".Insp_CategoryCS").attr('disabled', 'disabled');
        $(".Sub_CategoryCS").attr('disabled', 'disabled');
        $(".Insp_RiskCS").attr('disabled', 'disabled');
    }
    function Fn_ActionCheckCS(rowval, status) {
        @*if (status == "NA") {
            $("#Hazard_RiskCS_" + rowval).val('');
            $("#RequirementsCS_" + rowval).val('');
            $("#QnDescriptionCS_" + rowval).val('');
            $("#Insp_CategoryCS_" + rowval).prop('selectedIndex', 0);
            $("#Sub_CategoryCS_" + rowval).prop('selectedIndex', 0);
            $("#Insp_RiskCS_" + rowval).prop('selectedIndex', 0);
            $("#Hazard_RiskCS_" + rowval).attr('disabled', 'disabled');
            $("#RequirementsCS_" + rowval).attr('disabled', 'disabled');
            $("#QnDescriptionCS_" + rowval).attr('disabled', 'disabled');
            $("#Insp_CategoryCS_" + rowval).attr('disabled', 'disabled');
            $("#Sub_CategoryCS_" + rowval).attr('disabled', 'disabled');
            $("#Insp_RiskCS_" + rowval).attr('disabled', 'disabled');
        } else*@ 
        if (status == "Yes" || status == "NA") {
            $("#Hazard_RiskCS_" + rowval).val('');
            $("#RequirementsCS_" + rowval).val('');
            $("#QnDescriptionCS_" + rowval).val('');
            $("#Insp_CategoryCS_" + rowval).prop('selectedIndex', 0);
            $("#Sub_CategoryCS_" + rowval).prop('selectedIndex', 0);
            $("#Insp_RiskCS_" + rowval).prop('selectedIndex', 0);
            $("#Hazard_RiskCS_" + rowval).attr('disabled', 'disabled');
            $("#RequirementsCS_" + rowval).attr('disabled', 'disabled');
            $("#Insp_CategoryCS_" + rowval).attr('disabled', 'disabled');
            $("#Sub_CategoryCS_" + rowval).attr('disabled', 'disabled');
            $("#Insp_RiskCS_" + rowval).attr('disabled', 'disabled');
            $("#QnDescriptionCS_" + rowval).removeAttr('disabled');
        }
        else {
            $("#Hazard_RiskCS_" + rowval).removeAttr('disabled');
            $("#RequirementsCS_" + rowval).removeAttr('disabled');
            $("#QnDescriptionCS_" + rowval).removeAttr('disabled');
            $("#Insp_CategoryCS_" + rowval).removeAttr('disabled');
            $("#Sub_CategoryCS_" + rowval).removeAttr('disabled');
            $("#Insp_RiskCS_" + rowval).removeAttr('disabled');
        }
    }
    function SubCategoryListCS(Value, rowval) {
        $.post("@Url.Action("Insp_Sub_Category_Master_GetbyId", "Inspection")", { Value: Value }, function (data) {
            $("#Sub_CategoryCS_" + rowval).empty();
            $("#Sub_CategoryCS_" + rowval).append("<option selected value='' style='text-align:center' disabled>--Select--</option>");
            $(data).each(function (i, e) {
                $("#Sub_CategoryCS_" + rowval).append("<option value=" + e.Value + ">" + e.Text + "</option>");
            });
        });
    }
    function Qns_Category_MasterCS(HtmlFind) {
        var Main_CategoryCS = "#Main_CategoryCS_" + HtmlFind;
        $.post("@Url.Action("Insp_Category_GetAll", "Inspection")", function (data) {
            $(Main_CategoryCS).empty();
            $(Main_CategoryCS).append("<option selected value='' style='text-align:center' disabled>--Select--</option>");
            $(data).each(function (i, e) {
                $(Main_CategoryCS).append("<option value=" + e.Insp_Category_Id + ">" + e.Insp_Category_Name + "</option>");
            });
        });
    }
    function Qns_Sub_CategoryCS(Value, HtmlFind) {
        debugger;
        var Main_SubCategoryCS = "#Main_SubCategoryCS_" + HtmlFind;
        $.post("@Url.Action("Insp_Sub_Category_Master_GetbyId", "Inspection")", { Value: Value }, function (data) {
            $(Main_SubCategoryCS).empty();
            $(Main_SubCategoryCS).append("<option selected value='' style='text-align:center' disabled>--Select--</option>");
            $(data).each(function (i, e) {
                $(Main_SubCategoryCS).append("<option value=" + e.Value + ">" + e.Text + "</option>");
            });
        });
    }
</script>
<script>
    function ApplySelect2CC(id) {
        $(id).select2({
            placeholder: "--Select--",
            theme: 'bootstrap-5',
        });
    }
    Cat_MasterCS();
    function Cat_MasterCS() {
        $.post("@Url.Action("Insp_Category_GetAll", "Inspection")", function (data) {
            $("#HS_CategoryCS").empty();
            $("#HS_CategoryCS").append("<option selected value='' style='text-align:center' disabled>--Select--</option>");
            $(data).each(function (i, e) {
                $("#HS_CategoryCS").append("<option value=" + e.Insp_Category_Id + ">" + e.Insp_Category_Name + "</option>");
            });
        });
    }
    function SuCatCS(Value) {
        $.post("@Url.Action("Insp_Sub_Category_Master_GetbyId", "Inspection")", { Value: Value }, function (data) {
            $("#HS_SubCategoryCS").empty();
            $("#HS_SubCategoryCS").append("<option selected value='' style='text-align:center' disabled>--Select--</option>");
            $(data).each(function (i, e) {
                $("#HS_SubCategoryCS").append("<option value=" + e.Value + ">" + e.Text + "</option>");
            });
        });
    }
    
    function Add_More_Cat_MasterCS(HtmlFind) {
        //debugger;
        var HS_CategoryCS = "#HS_CategoryCS_" + HtmlFind;
        $.post("@Url.Action("Insp_Category_GetAll", "Inspection")", function (data) {
            $(HS_CategoryCS).empty();
            $(HS_CategoryCS).append("<option selected value='' style='text-align:center' disabled>--Select--</option>");
            $(data).each(function (i, e) {
                $(HS_CategoryCS).append("<option value=" + e.Insp_Category_Id + ">" + e.Insp_Category_Name + "</option>");
            });
        });
    }
    function Add_More_SuCatCS(Value, HtmlFind) {
        //debugger;
        var HS_SubCategoryCS = "#HS_SubCategoryCS_" + HtmlFind;
        $.post("@Url.Action("Insp_Sub_Category_Master_GetbyId", "Inspection")", { Value: Value }, function (data) {
            $(HS_SubCategoryCS).empty();
            $(HS_SubCategoryCS).append("<option selected value='' style='text-align:center' disabled>--Select--</option>");
            $(data).each(function (i, e) {
                $(HS_SubCategoryCS).append("<option value=" + e.Value + ">" + e.Text + "</option>");
            });
        });
    }
    $("#tbl_Temp_Insp_HSCSObser").on("click", ".TblDeleteButtonCS", function () {
        $(this).closest("tr").remove();
    });

</script>
<script>
    var HtmlFind = 1;
    function Fn_Add_More_FindingHSCS() {
        //debugger;
        var Datamarkups = "";
        var file = "file_" + HtmlFind;
        var UploadPhotos = "UploadPhotos_" + HtmlFind;
        Add_More_Cat_MasterCS(HtmlFind);
            Datamarkups = '<tr><td><input class="form-control Insp_Sub_Finding_IdCS" value="0" type="hidden" id="Insp_Sub_Finding_Id_' + HtmlFind + '"><textarea id="HS_Observations_' + HtmlFind + '" name="HS_Observations_' + HtmlFind + '" required class="form-control HS_ObservationsCS" placeholder="Enter Observations" rows="1" required></textarea></td>',
            Datamarkups += '<td><textarea id="HS_HazardRisk_' + HtmlFind + '" name="HS_HazardRisk_' + HtmlFind + '" required class="form-control HS_HazardRiskCS" placeholder="Enter Hazard & Risk" rows="1"></textarea></td>',
            Datamarkups += '<td><textarea id="HS_Requirements_' + HtmlFind + '" name="HS_Requirements_' + HtmlFind + '" required class="form-control HS_RequirementsCS" placeholder="Enter Requirements" rows="1"></textarea></td>',
            Datamarkups += '<td><textarea id="HS_ActionRequired_' + HtmlFind + '" name="HS_ActionRequired_' + HtmlFind + '" required class="form-control HS_ActionRequiredCS" placeholder="Enter Action Required" rows="1"></textarea></td>',
            Datamarkups += '<td><select onchange="Add_More_SuCatCS(this.value,' + HtmlFind + ')" name="HS_CategoryCS_' + HtmlFind + '" class="form-select HS_CategoryCS" id="HS_CategoryCS_' + HtmlFind + '" required><option value="" style="text-align:center;" disabled selected="selected">--Select--</option></select></td>',
            Datamarkups += '<td><select class="form-select HS_SubCategoryCS" name="HS_SubCategoryCS_' + HtmlFind + '" id="HS_SubCategoryCS_' + HtmlFind + '" required><option value="" style="text-align:center;" disabled selected="selected">--Select--</option></select></td>',
            Datamarkups += '<td><select class="form-select HS_RiskLevelCS" required name="HS_RiskLevel_' + HtmlFind + '" id="HS_RiskLevel_' + HtmlFind + '"><option value="" disabled selected="selected">--Select--</option><option value="High">High</option><option value="Medium">Medium</option><option value="Low">Low</option></select></td>',
            Datamarkups += '<td><input id="file_' + HtmlFind + '" class="form-control file" onchange="uploadFilesAddMore(' + file + ',' + UploadPhotos + ')" type="file" accept=".png, .jpg, .jpeg"><input type="hidden" value="" class="UploadPhotos" name="UploadPhotos" id="UploadPhotos_' + HtmlFind + '"></td>',
            Datamarkups += '<td><label><i class="mdi mdi-delete TblDeleteButtonCS font-size-18" style="color:red;"></i></label></td>',
            Datamarkups += '</tr>'
        $('#tbl_Temp_Insp_HSCSObser').append(Datamarkups);
        HtmlFind++;
    }
    FnSafetyViolation_YesCS('1');
    function FnSafetyViolation_YesCS(val) {
        if (val == "1") {
            $("#Safety_DescriptionCS").show();
            $(".submit_FindingsCS").text("Next");
        } else {
            $("#Safety_DescriptionCS").hide();
        }
    }
    $("input[name='Safety_Violation_CS']").click(function () {
        var test = $(this).val();
        if (test == "Yes") {
            $(".submit_FindingsCS").text("Next");
        } else {
            $(".submit_FindingsCS").text("Submit");
        }
    });
    function uploadFilesCS(inputId, UploadPhotoId) {
        var input = document.getElementById(inputId);
        var files = input.files;
        var formData = new FormData();
        if (files.length <= 5) {
            for (var i = 0; i != files.length; i++) {
                formData.append("files", files[i]);
            }
            var _url = '@Url.Action("Upload_Picture", "HandOverInspection")';
            $.ajax({
                url: _url,
                data: formData,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (data) {
                    debugger;
                    if (data != "" && data != null) {
                        var Photo_List = [];
                        var val_UploadPhotos = data.split(',');
                        var i;
                        for (i = 0; i < val_UploadPhotos.length; i++) {
                            var x = val_UploadPhotos[i].replace(/[\(\)\[\]{}'"]/g, "");
                            if (x != "/") {
                                var Pdata = {};
                                Pdata.File_Path = x;
                                Photo_List.push(Pdata);
                            }
                        }

                        $(Photo_List).each(function (i, e) {
                            if (e.File_Path == "Invalid Format") {
                                $("#" + inputId).val("");
                                $("#" + UploadPhotoId).val("");
                                toastr["error"]("Invalid Format");
                                return false;
                            } else {
                                $("#" + UploadPhotoId).val("");
                                $("#" + UploadPhotoId).val(data);
                                toastr["success"]("Uploaded Successfully");
                            }
                        });
                    }
                }
            });
        }
        else {
            $("#" + inputId).val("");
            $("#" + UploadPhotoId).val("");
            toastr["info"]("Maximum Allowed 5 Files");
        }
    }
    function uploadFilesAddMoreCS(inputId, UploadPhotoId) {
        debugger;
        var input_test = inputId.id;
        var Upload_test = UploadPhotoId.id;
        inputId = input_test;
        UploadPhotoId = Upload_test;
        var input = document.getElementById(inputId);
        var files = input.files;
        var formData = new FormData();
        if (files.length <= 5) {
            for (var i = 0; i != files.length; i++) {
                formData.append("files", files[i]);
            }
            var _url = '@Url.Action("Upload_Picture", "HandOverInspection")';
            $.ajax({
                url: _url,
                data: formData,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (data) {
                    debugger;
                    if (data != "" && data != null) {
                        var Photo_List = [];
                        var val_UploadPhotos = data.split(',');
                        var i;
                        for (i = 0; i < val_UploadPhotos.length; i++) {
                            var x = val_UploadPhotos[i].replace(/[\(\)\[\]{}'"]/g, "");
                            if (x != "/") {
                                var Pdata = {};
                                Pdata.File_Path = x;
                                Photo_List.push(Pdata);
                            }
                        }
                        $(Photo_List).each(function (i, e) {
                            if (e.File_Path == "Invalid Format") {
                                $("#" + inputId).val("");
                                $("#" + UploadPhotoId).val("");
                                toastr["error"]("Invalid Format");
                                return false;
                            } else {
                                $("#" + UploadPhotoId).val("");
                                $("#" + UploadPhotoId).val(data);
                                toastr["success"]("Uploaded Successfully");
                            }
                        });
                    }
                }
            });
        }
        else {
            $("#" + inputId).val("");
            $("#" + UploadPhotoId).val("");
            toastr["info"]("Maximum Allowed 5 Files");
        }
    }
    @*function uploadFilesCS(inputId, UploadPhotoId) {
        var input = document.getElementById(inputId);
        var files = input.files;
        var formData = new FormData();
        if (files.length <= 5) {
            for (var i = 0; i != files.length; i++) {
                formData.append("files", files[i]);
            }
            var _url = '@Url.Action("UploadImage", "HandOverInspection")';
            $.ajax({
                url: _url,
                data: formData,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (data) {
                    $("#" + UploadPhotoId).val("");
                    $("#" + UploadPhotoId).val(data);
                }
            });
        }
        else {
            $("#" + inputId).val("");
            $("#" + UploadPhotoId).val("");
            toastr["info"]("Maximum Allowed 5 Files");
        }
    }
    function uploadFilesAddMoreCS(inputId, UploadPhotoId) {
        var test = inputId.id;
        var test1 = UploadPhotoId.id;
        inputId = test;
        UploadPhotoId = test1;
        var input = document.getElementById(inputId);
        var files = input.files;
        var formData = new FormData();

        if (files.length <= 5) {
            for (var i = 0; i != files.length; i++) {
                formData.append("files", files[i]);
            }
            var _url = '@Url.Action("UploadImage", "HandOverInspection")';
            $.ajax({
                url: _url,
                data: formData,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (data) {
                    $("#" + UploadPhotoId).val("");
                    $("#" + UploadPhotoId).val(data);
                }
            });
        }
        else {
            $("#" + inputId).val("");
            $("#" + UploadPhotoId).val("");
            toastr["info"]("Maximum Allowed 5 Files");
        }
    }*@
</script>