@using Microsoft.AspNetCore.Http;
@using Nakheel_Web.Models.AccountsMaster;
@using Newtonsoft.Json;
@using static Nakheel_Web.Authentication.Common;
@inject IHttpContextAccessor HttpContextAccessor;
@{
    var str = HttpContextAccessor.HttpContext!.Session.GetString("Login");
    string Des = Decrypt(str!);
    Login_ LoginClass = JsonConvert.DeserializeObject<Login_>(Des!)!;
}
@{
    ViewData["Title"] = "Fire & Life Safety Inspection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.min.css" crossorigin="anonymous">
@*<link href="~/assets/libs/fileupload/fileinput.min.css" rel="stylesheet" />
<script src="~/assets/libs/fileupload/fileinput.min.js"></script>*@
<style>
    .tblround {
        border-collapse: collapse;
        border-radius: 1em;
        overflow: hidden
    }
    .table > :not(caption) >* >* {
        padding: 0.35rem 0.35rem !important;
        background-color: var(--bs-table-bg);
        border-bottom-width: 1px;
        -webkit-box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
        box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
    }

    .error {
        color: red !important;
        font-size: 12px;
    }
</style>

@model IReadOnlyCollection<Nakheel_Web.Models.HandOverInsMaster.M_Insp_FireLifeSafety_Model>;
@*Grid View*@
<div class="row" id="List_View">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-lg-10"> <h4 class="card-title">Fire & Life Safety Inspection List</h4></div>
                    <div class="col-lg-2">
                        @*<button type="button" id="btn_AddNew" class="btn btn-success waves-effect waves-light" style="float: right;"><i class="mdi mdi-plus me-1"></i>Create Schedule</button>&nbsp;&nbsp;*@
                        <button type="button" id="btn_WalkIn" class="btn btn-success waves-effect waves-light" style="float: right;"><i class="mdi mdi-plus me-1"></i>Walk-In Schedule</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table id="tblInspFireLifeSafetyList" class="table table-sm table-striped dt-responsive tblround nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            @*<th>Type</th>*@
                            <th>Business Unit</th>
                            <th>Zone</th>
                            <th>Community</th>
                            <th>HSE Officer</th>
                            <th>Inspection Date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="GetInspFireLifeSafetyList">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row" id="AddPage_FireLifeSafety" style="display:none">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-lg-10"> <h4 class="card-title">Add Fire & Life Safety Inspection</h4></div>
                    <div class="col-lg-2">
                        <button type="reset" id="btn_back" class="btn btn-success waves-effect waves-light" style="float: right;"><i class="mdi mdi-arrow-left-thin-circle-outline me-1"></i>Back</button>
                        <input type="hidden" id="bckval" />
                    </div>
                </div>
            </div><!-- end card header -->
            <div class="card-body">
                <form id="F_Insp_FireLifeSafety" action="#" method="post" class="row NotValid" novalidate="novalidate" enctype="multipart/form-data">
                    <input class="form-control" type="hidden" value="0" id="Insp_Request_Id" name="Insp_Request_Id">
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3 row">
                                <label for="example-search-input" class="col-md-4 col-form-label">Company Name</label>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" value="NCM" id="Company_Name" name="Company_Name" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3 row">
                                <label for="example-search-input" class="col-md-4 col-form-label">Inspected By<span class="requ">*</span></label>
                                <div class="col-md-8">
                                    <input class="form-control" type="hidden" value="@LoginClass.Employee_Identity_Id" id="Inspected_By_Id" name="Inspected_By_Id">
                                    <input class="form-control" type="text" value="@LoginClass.First_Name" id="Inspected_By_Name" name="Inspected_By_Name" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3 row">
                                <label for="example-text-input" class="col-md-4 col-form-label">Business Unit<span class="requ">*</span></label>
                                <div class="col-md-8">
                                    <select class="form-control" name="Business_Unit" id="Business_Unit" onchange="FnBusiness_Unit()">
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="example-tel-input" class="col-md-4 col-form-label">Community<span class="requ">*</span></label>
                                <div class="col-md-8">
                                    <select class="form-control" name="Community" id="Community_Id" onchange="Fn_Community(this.value)">
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3 row" style="display:none">
                                <label for="example-tel-input" class="col-md-4 col-form-label">Master Community</label>
                                <div class="col-md-8">
                                    <select class="form-control" name="Master_Community_Id" id="Master_Community_Id">
                                    </select>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="example-email-input" class="col-md-4 col-form-label">Inspection Date<span class="requ">*</span></label>
                                <div class="col-md-8">
                                    <input class="form-control" type="date" id="Inspection_Date" name="Inspection_Date" />
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="" class="col-md-4 col-form-label">Zone Team Attended?</label>
                                <div class="col-md-3 col-form-label">
                                    <div id="Zone_Rep_Attended_Yes" class="" onclick="FnZone_Rep_Attended('1')">
                                        <label for="Yes"> <input id="Zone_Rep_Attended" class="Zone_Rep_Attended" name="Zone_Rep_Attended" type="radio" value="Yes" />&nbsp;Yes</label>
                                    </div>
                                </div>
                                <div class="col-md-3 col-form-label">
                                    <div id="Zone_Rep_Attended_No" class="floatBlock" onclick="FnZone_Rep_Attended('2')">
                                        <label for="No"> <input id="Zone_Rep_Attended" class="Zone_Rep_Attended" name="Zone_Rep_Attended" type="radio" value="No" />&nbsp;No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 row" id="div_Zone_Rep_Id" style="display:none;">
                                <label for="example-text-input" class="col-md-4 col-form-label">Zone Representative<span class="requ">*</span></label>
                                <div class="col-md-8">
                                    <select class="form-control" name="Zone_Rep_Id" id="Zone_Rep_Id">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3 row">
                                <label for="example-text-input" class="col-md-4 col-form-label">Zone<span class="requ">*</span></label>
                                <div class="col-md-8">
                                    <select class="form-control" name="Zone_Id" id="Zone_Id" onchange="Fn_Zone(this.value)">
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="example-tel-input" class="col-md-4 col-form-label">Building<span class="requ">*</span></label>
                                <div class="col-md-8">
                                    <select class="form-control" name="Building_Id" id="Building_Id">
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3 row" id="Fn_Business_Unit_Type" style="display:none">
                                <label for="example-text-input" class="col-md-4 col-form-label">Business Unit Type</label>
                                <div class="col-md-8">
                                    <select class="form-control" id="Hs_Business_Unit_Type" name="Hs_Business_Unit_Type">
                                        <option value="" style='text-align:center'>--Select--</option>
                                        <option value="Party">JOP 3rd Party</option>
                                        <option value="JOP_Common">JOP-Common Area</option>
                                        <option value="Master_Community">Master Community</option>
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3 row" style="display:none;">
                                <label for="example-tel-input" class="col-md-4 col-form-label">Schedule Type<span class="requ">*</span></label>
                                <div class="col-md-8">
                                    <select class="form-control" name="Schedule_Type" id="Schedule_Type">
                                        <option value="0" style='text-align:center'>--Select--</option>
                                        <option value="Bimonthly">Bimonthly</option>
                                        <option value="Quarterly">Quarterly</option>
                                        <option value="Semiannually">Semi Annually</option>
                                        <option value="Yearly">Yearly</option>
                                    </select>
                                </div>
                            </div>

                            <div class="mb-3 row" style="display:none;">
                                <label for="example-tel-input" class="col-md-4 col-form-label">Type<span class="requ">*</span></label>
                                <div class="col-md-8">
                                    <select class="form-control" name="Fire_Life_Type" id="Fire_Life_Type">
                                        <option value="0" style='text-align:center'>--Select--</option>
                                        <option value="FireLifeSafetyBuilding">Building</option>
                                        <option value="FireLifeSafetyMaster">Master Community</option>
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="" class="col-md-4 col-form-label">Service Provider Attended?</label>
                                <div class="col-md-3 col-form-label">
                                    <div id="Service_Provider_Attended_Yes" onclick="FnService_Provider_Attended('1')">
                                        <label for="Yes"> <input id="Service_Provider_Attended" class="Service_Provider_Attended" name="Service_Provider_Attended" type="radio" value="Yes" />&nbsp;Yes</label>
                                    </div>
                                </div>
                                <div class="col-md-3 col-form-label">
                                    <div id="Service_Provider_Attended_No" class="floatBlock" onclick="FnService_Provider_Attended('2')">
                                        <label for="No"> <input id="Service_Provider_Attended" class="Service_Provider_Attended" name="Service_Provider_Attended" type="radio" value="No" />&nbsp;No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 row" id="div_Service_Provider_Id" style="display:none;">
                                <label for="example-text-input" class="col-md-4 col-form-label">Service Provider<span class="requ">*</span></label>
                                <div class="col-md-8">
                                    <select class="form-control" name="Service_Provider_Id" id="Service_Provider_Id">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="display:none;">
                            <div class="mb-3 ">
                                <label for="example-number-input" class="col-md-4 col-form-label">Description</label>
                                <div class="col-md-12">
                                    <textarea class="form-control" id="Description" name="Description"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Questionnaires View List -->
                    <div class="row Qns" id="divViewFireLifeSafetyQnsGet">
                        <div class="col-md-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <div class="col-lg-9">
                                        <h4 class="d-flex align-items-center mb-3">Fire & Life Safety Inspection Questionnaires</h4>
                                    </div>
                                    <div id="GetQuestionnaireListViewGet">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Safety Violation -->
                    <div class="row">
                        <div class="mb-6">
                            <label for="example-text-input" class="col-md-8 col-form-label">
                                Raise the Safety Violation Notice ?<span class="requ">*</span>
                                <label for="Safety_Violation_Yes" onclick="FnSafetyViolation_Yes('1')"> <input id="Safety_Violation_Yes" class="Safety_Violation" name="Safety_Violation" type="radio" value="Yes" checked>&nbsp;Yes</label>&nbsp;&nbsp;
                                <label for="Safety_Violation_No" onclick="FnSafetyViolation_Yes('2')"> <input id="Safety_Violation_No" class="Safety_Violation" name="Safety_Violation" type="radio" value="No">&nbsp;No</label>
                            </label>
                        </div>
                        <div class="mb-6" id="Safety_Description" style=" display:none;">
                            <label for="example-number-input" class="col-md-4 col-form-label">Remarks</label>
                            <textarea class="form-control mb-6" id="SV_Description" name="SV_Description"></textarea>
                            <br />
                        </div>
                    </div>
                    <!-- Submit Button -->
                    <div class="row">
                        <div class="col-lg-6">
                            <button type="submit" class="btn btn-success waves-effect waves-light submit_FindingsFL" style="float: right;">
                                <i class="bx bx-check-double font-size-16 align-middle me-2"></i> Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Fire & Life Safety List -->
<div id="divFireLifeSafety_View" style="display:none">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-10"> <h4 class="card-title">View Fire & Life Safety Inspection</h4></div>
                    <div class="col-lg-2">
                        <button type="button" id="btn_FireLifeSafety_List" class="btn btn-success waves-effect waves-light" style="float: right;"><i class="mdi mdi-arrow-left-thin-circle-outline me-1"></i>Back</button>
                    </div>
                </div>
                <div id="ViewFireLifeSafety_List">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Questionnaires View List -->
<div class="row Qns" id="divViewFireLifeSafetyCSQnsGet" style="display:none;">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="col-lg-9">
                    <h4 class="d-flex align-items-center mb-3">Fire & Life Safety Inspection Questionnaires</h4>
                </div>
                <div id="GetCSQuestionnaireListView">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Closure Action List -->
<div class="row Qns" id="divViewFireLifeSafetyCA" style=" display:none;">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="col-lg-9">
                    <h4 class="d-flex align-items-center mb-3">Closure Action</h4>
                </div>
                <div class="col-md-3" id="Back_Div" style="display:none;">
                    <div>
                        <button class="btn btn-primary waves-effect waves-light" onclick="BackButton()" style="float: right;" id="BtnBack">
                            <i class="bx bx-arrow-back"></i>&nbsp;Back
                        </button>
                    </div>
                </div>
                <hr />
                <div id="GetClosureActionList">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Reject Fire & Life Safety Inspection -->
<div class="modal fade Add_FLCA_Reject" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myExtraLargeModalLabel">Reject Fire & Life Safety Inspection</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="Fm_FLCA_Reject" action="#">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <input type="hidden" class="form-control Hdn_FLReject_Id" name="hdn_FLCorrective_Action_Id" id="hdn_FLCorrective_Action_Id">
                                <input type="hidden" class="form-control" name="Reject_Stage" id="Reject_Stage" value="Rejected By HSE Staff">
                                <label for="example-search-input" class="form-model" style="color:black;">Reason For Reject</label>
                                <textarea class="form-control" rows="1" cols="100" style="height: 150px;" id="Reject_Reason" name="Reject_Reason_Description" required minlen="1"></textarea>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div style="text-align:center;">
                            <button type="submit" class="btn btn-success" onclick="Fn_FLCA_Reject_Submit()"> Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<script src="~/assets/js/validation/inspection_validation/inspformchecklistvalidation.js"></script>
<script src="~/assets/js/validation/inspection_validation/inspformchecklistseverside.js"></script>
<script>
    "use strict";
    const UI_Fields = Object.freeze({
        ADD_PAGE_FIRELIFE_SAFETY: "#AddPage_FireLifeSafety",
        LIST_VIEW: "#List_View",
        BTN_BACK: "#btn_back",
        MAIN_TABLE: "#tblInspFireLifeSafetyList",
        TBODY_TABLE: "#GetInspFireLifeSafetyList",
        //BTN_ADD_FIRELIFE_SAFETY: "#btn_AddNew",
        BTN_WALKIN_FIRELIFE_SAFETY: "#btn_WalkIn",
        BTN_VIEW_FIRELIFE_SAFETY_BACK: "#btn_FireLifeSafety_List",
        M_BUSINESS_UNIT: "#Business_Unit",
        M_ZONE: "#Zone_Id",
        COMMUNITY_ID: "#Community_Id",
        BUILDING_ID: "#Building_Id",
        BUSINESS_UNIT_TYPE: "#Fn_Business_Unit_Type",
        DIV_VIEW_FIRELIFE_SAFETY: "#divFireLifeSafety_View",
        VIEW_FIRELIFE_SAFETY_LIST: "#ViewFireLifeSafety_List",
        DIV_QUESTIONNAIRE_LIST: "#divViewFireLifeSafetyQnsGet",
        VIEW_FIRELIFE_SAFETY_QNS_LIST: "#GetQuestionnaireListViewGet",
        DIV_QUESTIONNAIRE_LIST_VIEW: "#divViewFireLifeSafetyCSQnsGet",
        VIEW_FIRELIFE_SAFETY_QNS_LIST_VIEW: "#GetCSQuestionnaireListView",
        DIV_FIRELIFE_SAFETY_CLOSURE_ACTION: "#divViewFireLifeSafetyCA",
        VIEW_FIRELIFE_SAFETY_CLOSURE_LIST: "#GetClosureActionList",
    });

    $(document).ready(function () {
        debugger;
        var now = new Date();
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        var today = now.getFullYear() + "-" + (month) + "-" + (day);
        $('#Inspection_Date').val(today);

        ApplySelect2("#Business_Unit");
        ApplySelect2("#Zone_Id");
        ApplySelect2("#Community_Id");
        ApplySelect2("#Building_Id");
        ApplySelect2("#Zone_Rep_Id");
        ApplySelect2("#Service_Provider_Id");
        ApplySelect2("#Insp_Category");

        ServerSideTable_Insp_FireLifeSafety();
        $(UI_Fields.BTN_WALKIN_FIRELIFE_SAFETY).click(function () {
            LOAD_BUSINESS_UNIT();
            LOAD_ZONE();
            $(UI_Fields.LIST_VIEW).hide(100);
            $(UI_Fields.ADD_PAGE_FIRELIFE_SAFETY).show(100);
            $(UI_Fields.DIV_QUESTIONNAIRE_LIST).show(100);
        });
        $(UI_Fields.BTN_VIEW_FIRELIFE_SAFETY_BACK).click(function () {
            $(UI_Fields.LIST_VIEW).show(100);
            $(UI_Fields.ADD_PAGE_FIRELIFE_SAFETY).hide(100);
            $(UI_Fields.DIV_VIEW_FIRELIFE_SAFETY).hide(100);
            $(UI_Fields.DIV_QUESTIONNAIRE_LIST).hide(100);
            $(UI_Fields.DIV_QUESTIONNAIRE_LIST_VIEW).hide(100); 
            $(UI_Fields.DIV_FIRELIFE_SAFETY_CLOSURE_ACTION).hide(100);
            window.location.reload(); //ClearAll();
        });
        $(UI_Fields.BTN_BACK).click(function () {
            $(UI_Fields.LIST_VIEW).show(100);
            $(UI_Fields.ADD_PAGE_FIRELIFE_SAFETY).hide(100);
            $(UI_Fields.DIV_VIEW_FIRELIFE_SAFETY).hide(100);
            $(UI_Fields.DIV_QUESTIONNAIRE_LIST).hide(100);
            $(UI_Fields.DIV_QUESTIONNAIRE_LIST_VIEW).hide(100);
            $(UI_Fields.DIV_FIRELIFE_SAFETY_CLOSURE_ACTION).hide(100);
            window.location.reload(); //ClearAll();
        });
    })
</script>
<script>
    function ApplySelect2(id) {
        debugger;
        $(id).select2({
            placeholder: "--Select--",
            theme: 'bootstrap-5',
        });
    }
    function LOAD_BUSINESS_UNIT() {
        $.post("@Url.Action("LoadAllBusinessUnit", "CommonMaster")", function (data) {
            $(UI_Fields.M_BUSINESS_UNIT).empty();
            $(UI_Fields.M_BUSINESS_UNIT).append("<option selected value='0' style='text-align:center' disabled> --Select Business Unit--</option>");
            $(data).each(function (i, e) {
                $(UI_Fields.M_BUSINESS_UNIT).append("<option value=" + e.Business_Unit_Id + ">" + e.Business_Unit_Name + "</option>");
            });
        });
    }
    function LOAD_ZONE() {
        $.post("@Url.Action("LoadAllZone", "CommonMaster")", function (data) {
            $(UI_Fields.M_ZONE).empty();
            $(UI_Fields.M_ZONE).append("<option selected value='0' style='text-align:center' disabled> --Select Zone--</option>");
            $(data).each(function (i, e) {
                $(UI_Fields.M_ZONE).append("<option value=" + e.Zone_Id + ">" + e.Zone_Name + "</option>");
            });
        });
    }
    function Fn_Zone(Zone_Id) {
        $.post("@Url.Action("LoadAllCommunitybyZone", "CommonMaster")", { Zone_Id: Zone_Id }, function (data) {
            $(UI_Fields.COMMUNITY_ID).empty();
            $(UI_Fields.BUILDING_ID).empty();
            $(UI_Fields.MASTER_COMMUNITY_ID).empty();
            $(UI_Fields.COMMUNITY_ID).append("<option selected value='0' style='text-align:center'  disabled>--Select Community--</option>");
            $(data).each(function (i, e) {
                $(UI_Fields.COMMUNITY_ID).append("<option value=" + e.Community_Master_Id + ">" + e.Community_Master_Name + "</option>");
            });
        });
    }
    function Fn_Community(Community_Id) {
        var Zone_Id = $("#Zone_Id").val();
        $.post("@Url.Action("LoadAllBuildingbyZone", "CommonMaster")", { Zone_Id: Zone_Id, Community_Id: Community_Id }, function (data) {
            $(UI_Fields.BUILDING_ID).empty();
            $(UI_Fields.BUILDING_ID).append("<option selected value='0'style='text-align:center' disabled>--Select Building--</option>");
            $(data).each(function (i, e) {
                $(UI_Fields.BUILDING_ID).append("<option value=" + e.Sub_Building_Id + ">" + e.Building_Name + "</option>");
                //alert(Zone_Id + ' ' + Community_Id);
                ZONE_EMP_DRP_DWN('Supervisor', Zone_Id, Community_Id);
                SERVICE_EMP_DRP_DWN('Service_Provider', Zone_Id, Community_Id);
            });
        });
    }
    function FnBusiness_Unit(val) {
        var buname = $("#Business_Unit option:selected").text();
        if (buname == "NCM") {
            $("#Fn_Business_Unit_Type").show();
        }
        else {
            $("#Fn_Business_Unit_Type").hide();
        }
    }
    function FnZone_Rep_Attended(val) {
        //debugger
        var zraname = $('input[name="Zone_Rep_Attended"]:checked').val();
        if (zraname == "Yes") {
            $("#div_Zone_Rep_Id").show();
        }
        else {
            $("#div_Zone_Rep_Id").hide();
        }
    }
    function FnService_Provider_Attended(val) {
        //debugger
        var spaname = $('input[name="Service_Provider_Attended"]:checked').val();
        //alert(spaname)
        if (spaname == "Yes") {
            $("#div_Service_Provider_Id").show();
        }
        else {
            $("#div_Service_Provider_Id").hide();
        }
    }

    function ZONE_EMP_DRP_DWN(Role_Name, Zone_Id, Community_Id) {
        //debugger;
        $.post("@Url.Action("LoadEmpbyRole", "CommonMaster")", { Role_Name: Role_Name, Zone_Id: Zone_Id, Community_Id: Community_Id }, function (data) {
            $("#Zone_Rep_Id").empty();
            $("#Zone_Rep_Id").append("<option value='' style='text-align:center'>--Select--</option>");
            $(data).each(function (i, e) {
                $("#Zone_Rep_Id").append("<option value=" + e.Employee_Identity_Id + ">" + e.First_Name + "</option>");
            });
        });
    }
    function SERVICE_EMP_DRP_DWN(Role_Name, Zone_Id, Community_Id) {
        //debugger;
        $.post("@Url.Action("LoadEmpbyRole", "CommonMaster")", { Role_Name: Role_Name, Zone_Id: Zone_Id, Community_Id: Community_Id }, function (data) {
            $("#Service_Provider_Id").empty();
            $("#Service_Provider_Id").append("<option value='' style='text-align:center'>--Select--</option>");
            $(data).each(function (i, e) {
                $("#Service_Provider_Id").append("<option value=" + e.Employee_Identity_Id + ">" + e.First_Name + "</option>");
            });
        });
    }
    Fn_FireLifeSafety_Qns_Add();
    function Fn_FireLifeSafety_Qns_Add() {
        $(UI_Fields.DIV_QUESTIONNAIRE_LIST).show(100);
        Hzurl = '/HandOverInspection/_ViewFireLifeSafetyQuestionnairs';
        $(UI_Fields.VIEW_FIRELIFE_SAFETY_QNS_LIST).load(Hzurl);
    }
    FnSafetyViolation_Yes('1');
    function FnSafetyViolation_Yes(val) {
        if (val == "1") {
            $("#Safety_Description").show();
            $(".submit_FindingsFL").text("Next");
        } else {
            $("#Safety_Description").hide();
            $(".submit_FindingsFL").text("Submit");
        }
    }

    $("input[name='Safety_Violation']").click(function () {
        var test = $(this).val();
        if (test == "Yes") {
            $(".submit_FindingsFL").text("Next");
        } else {
            $(".submit_FindingsFL").text("Submit");
        }
    });
    //Redirect from Approvel to Same Page
    function FnFL_CA_ApprovalReject(id) {
        $(UI_Fields.LIST_VIEW).hide(100);
        $.post("@Url.Action("_GetFireLifeSafetyQnsView", "HandOverInspection")", { Insp_Request_Id: id }, function (data) {
            $(UI_Fields.VIEW_FIRELIFE_SAFETY_QNS_LIST_VIEW).html('');
            $(UI_Fields.VIEW_FIRELIFE_SAFETY_QNS_LIST_VIEW).html(data);
        }).always(function () {
            $(UI_Fields.DIV_QUESTIONNAIRE_LIST_VIEW).show(100);
        });
    }
    function Fn_CA_Reject_FL(rowid) {
        $("#hdn_FLCorrective_Action_Id").val("");
        $("#hdn_FLCorrective_Action_Id").val(rowid);
    }
    function Fn_FLCA_Reject_Submit() {
        var varInsp_Request_Id = "";
        varInsp_Request_Id = $("#EInsp_Request_Id").val();
        var Rowid = $("#hdn_FLCorrective_Action_Id").val();
        var Stage = $("#Reject_Stage").val();
        var Description = $("#Reject_Reason").val();
        let valid = $("#Fm_FLCA_Reject").valid();
        if (!valid) {
            return false;
        }
        $.post("@Url.Action("FireLifeSafety_Closure_Action_Reject", "HandOverInspection")", { Insp_Request_Id: varInsp_Request_Id, Corrective_Action_Id: Rowid, Reject_Stage: Stage, Reject_Reason: Description }, function (data) {
            if (data == "200") {
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Rejected Successfully',
                    showConfirmButton: false,
                    timer: 1500
                }).then(function () {
                    $("#Reject_Reason").val("");
                    $(".Add_FLCA_Reject").modal('toggle');
                    FnFL_CA_ApprovalReject(varInsp_Request_Id);
                });
            }
            else {
                Swal.fire({
                    position: 'top-end',
                    icon: 'Error',
                    title: 'Error',
                    showConfirmButton: false,
                    timer: 1500
                });
            }
        });
    }
</script>
<script>
    function Fn_FindingsFLCS_Submitbtn() {
        var QNS_ARR = [];
        var OBS_ARR = [];
        var subSno = 1;
        let validCS = $("#F_FireLifeSafetyCS_View").valid();
        if (!validCS) {
            return false;
        }
        $('#tblFireLifeSafetyInspQnsCS tbody > tr').each(function () {
            var varInsp_Question_Id = $(this).closest('tr').find('.Insp_Question_IdCS').val();
            var varQns_Action = $(this).closest('tr').find('input[name="ActionCS_' + subSno + '"]:checked').val();
            var varPhoto_File_Path = $(this).closest('tr').find('.QnPhotoCS').val();
            var varDetails_of_Evidence = $(this).closest('tr').find('.Details_of_EvidenceCS').val();
            var varRisk_Level = $(this).closest('tr').find('.Insp_RiskCS').val();
            var varRisk_Description = $(this).closest('tr').find('.Risk_DescriptionCS').val();
            var varDescription_Action = $(this).closest('tr').find('.QnDescriptionCS').val();
            var varCategory = $(this).closest('tr').find('.Insp_CategoryCS').val();
            var varSub_Category = $(this).closest('tr').find('.Sub_CategoryCS').val();

            if (varPhoto_File_Path != "" && varPhoto_File_Path != null) {
                var val_UploadPhotos = varPhoto_File_Path.split(',');
                var varPhoto_File_Path_QnPhoto;
                var i;
                for (i = 0; i < val_UploadPhotos.length; i++) {
                    var x = val_UploadPhotos[i].replace(/[\(\)\[\]{}'"]/g, "");
                    if (x != "/") {
                        varPhoto_File_Path_QnPhoto = x;
                    }
                }
            }
            var data = {};
            data.Insp_Questionnaires_Id = varInsp_Question_Id;
            data.Qns_Action = varQns_Action;
            data.Photo_File_Path = varPhoto_File_Path_QnPhoto;
            data.Details_of_Evidence = varDetails_of_Evidence;
            data.Risk_Description = varRisk_Description;
            data.Description_Action = varDescription_Action;
            data.Category = varCategory;
            data.Sub_Category = varSub_Category;
            data.Risk_Level = varRisk_Level;
            QNS_ARR.push(data);
            subSno++;
        });
        $('#tbl_Temp_Insp_Obser_FLCS tbody > tr').each(function () {
            var varInsp_Observation_Name = $(this).closest('tr').find('.FL_ObservationsCS').val();
            var varHazard_Risk = $(this).closest('tr').find('.FL_HazardRiskCS').val();
            var varRequirements = $(this).closest('tr').find('.FL_RequirementsCS').val();
            var varAction_Description = $(this).closest('tr').find('.FL_ActionRequiredCS').val();
            var varCategory = $(this).closest('tr').find('.FL_CategoryCS').val();
            var varSub_Category = $(this).closest('tr').find('.FL_SubCategoryCS').val();
            var varRisk_Level = $(this).closest('tr').find('.FL_RiskLevelCS').val();
            var varPhoto_File_Path = $(this).closest('tr').find('.UploadPhotosFLCS').val();
            if (varPhoto_File_Path != "" && varPhoto_File_Path != null) {
                //Photo_List_UP = [];
                var val_UploadPhotos = varPhoto_File_Path.split(',');
                var varPhoto_File_Path_ObsPhoto;
                var i;
                for (i = 0; i < val_UploadPhotos.length; i++) {
                    var x = val_UploadPhotos[i].replace(/[\(\)\[\]{}'"]/g, "");
                    if (x != "/") {
                        //var Pdata = {};
                        varPhoto_File_Path_ObsPhoto = x;
                        //Pdata.Insp_Sub_Photo_Id = "0";
                        //Photo_List_UP.push(Pdata);
                    }
                }
            }
            var data = {};
            data.Insp_Questionnaires_Name = varInsp_Observation_Name;
            data.Hazard_Risk = varHazard_Risk;
            data.Requirements = varRequirements;
            data.Description_Action = varAction_Description;
            data.Category = varCategory;
            data.Sub_Category = varSub_Category;
            data.Risk_Level = varRisk_Level;
            data.Photo_File_Path = varPhoto_File_Path_ObsPhoto;
            OBS_ARR.push(data);
            subSno++;
        });
        var Safety_Violation = $('input[name="Safety_Violation_CS"]:checked').val();
        var Obj = {
            Insp_Request_Id: $("#EInsp_Request_Id").val(),
            Unique_Id: $("#EUnique_Id").val(),
            Safety_Violation: $('input[name="Safety_Violation_CS"]:checked').val(),
            Business_Unit_Id: $("#EBusiness_Unit_Id").val(),
            Zone_Id: $("#EZone_Id").val(),
            Community_Id: $("#ECommunity_Id").val(),
            Building_Id: $("#EBuilding_Id").val(),
            Inspection_Date: $("#EInspection_Date").val(),
            Zone_Rep_Attended: $('input[name="Zone_Rep_AttendedCS"]:checked').val(), //$("#Zone_Rep_AttendedCS").val(),
            Service_Provider_Attended: $('input[name="Service_Provider_AttendedCS"]:checked').val(), //$("#Service_Provider_AttendedCS").val(),
            Zone_Rep_Id: $("#Zone_Rep_IdCS").val(),
            Service_Provider_Id: $("#Service_Provider_IdCS").val(),
            Description: $("#FLCSSV_Description").val(),
            L_Insp_FireLifeSafety_Qns: QNS_ARR,
            L_Insp_FireLifeSafety_Observation: OBS_ARR
        };
        $.ajax({
            url: "/HandOverInspection/Insp_FireLifeSafety_QnObs_Add",
            type: "POST",
            cache: false,
            data: JSON.stringify(Obj),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data.STATUS_CODE == "200") {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Updated Successfully',
                        showConfirmButton: false,
                        timer: 1500
                    }).then(function () {
                        if (data.Return_2 == 0) {
                            $('.submitAdd').prop('disabled', false);
                            window.location.reload();
                        } else {
                            $('.submitAdd').prop('disabled', false);
                            var url = "/Inspection/Insp_Safety_Violation_Temp?id=" + data.Return_2;
                            window.location.href = url;
                        }
                    });
                }
                else {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'Error',
                        title: 'Error',
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
            },
        });
    }
</script>