@using Microsoft.AspNetCore.Http;
@using Nakheel_Web.Models.AccountsMaster;
@using Newtonsoft.Json;
@using static Nakheel_Web.Authentication.Common;
@inject IHttpContextAccessor HttpContextAccessor;
@{
    var str = HttpContextAccessor.HttpContext!.Session.GetString("Login");
    string Des = Decrypt(str!);
    Login_ LoginClass = JsonConvert.DeserializeObject<Login_>(Des!)!;
}
@{
    ViewData["Title"] = "Service Provider HSE Inspection Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.min.css" crossorigin="anonymous">
@*<link href="~/assets/libs/fileupload/fileinput.min.css" rel="stylesheet" />
<script src="~/assets/libs/fileupload/fileinput.min.js"></script>*@
<style>
    .tblround {
        border-collapse: collapse;
        border-radius: 1em;
        overflow: hidden
    }
    .table > :not(caption) > * > * {
        padding: 0.35rem 0.35rem !important;
        background-color: var(--bs-table-bg);
        border-bottom-width: 1px;
        -webkit-box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
        box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
    }
</style>
@model IReadOnlyCollection<Nakheel_Web.Models.HandOverInsMaster.M_Insp_ServiceProvider_Model>;
@*Grid View*@
<div class="row" id="List_View">
    <div class="col-xl-12">
        <div class="card">
            <div class="row" style="display:none">
                <div class="col-lg-10"> <h4 class="card-title">Service Provider Inspection List</h4></div>
                @if (LoginClass.Role_Id == "9" || LoginClass.Role_Id == "10" || LoginClass.Role_Id == "11")
                {
                    <div class="card-header">
                        <div class="col-lg-2">
                            <button type="button" id="btn_add_ServiceProvider" class="btn btn-success waves-effect waves-light" style="float: right;"><i class="mdi mdi-plus me-1"></i>Walk-In Schedule</button>
                        </div>
                    </div>
                }
                else
                {
                    <div class="card-header">
                        <div class="col-lg-2" style="padding:13px"></div>
                    </div>
                }
            </div>
            <div class="card-body">
                <table id="tblInspServiceProviderList" class="table table-sm table-striped dt-responsive tblround nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Type</th>
                            @*<th>Business Unit</th>*@
                            <th>Zone</th>
                            <th>Community</th>
                            <th>Service Provider</th>
                            <th>Inspection Date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="GetInspServiceProviderList">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row" id="AddPage_Service_Provider" style="display:none">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-lg-10"> <h4 class="card-title">Add Service Provider Inspection</h4></div>
                    <div class="col-lg-2">
                        <button type="reset" id="btn_back" class="btn btn-success waves-effect waves-light" style="float: right;"><i class="mdi mdi-arrow-left-thin-circle-outline me-1"></i>Back</button>
                        <input type="hidden" id="bckval" />
                    </div>
                </div>
            </div><!-- end card header -->
            <div class="card-body">
                <form id="F_Insp_Service_Provider" action="#" method="post" class="row NotValid" novalidate="novalidate" enctype="multipart/form-data">
                    <input class="form-control" type="hidden" value="0" id="Insp_Service_Provider_Id" name="Insp_Service_Provider_Id">
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3 row">
                                <label for="example-search-input" class="col-md-4 col-form-label">Company Name</label>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" value="NCM" id="Company_Name" name="Company_Name" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3 row">
                                <label for="example-search-input" class="col-md-4 col-form-label">Inspected By<span class="requ">*</span></label>
                                <div class="col-md-8">
                                    <input class="form-control" type="hidden" value="@LoginClass.Employee_Identity_Id" id="Inspected_By_Id" name="Inspected_By_Id">
                                    <input class="form-control" type="text" value="@LoginClass.First_Name" id="Inspected_By_Name" name="Inspected_By_Name" readonly>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3 row">
                                <label for="example-text-input" class="col-md-4 col-form-label">Business Unit<span class="requ">*</span></label>
                                <div class="col-md-8">
                                    <select class="form-control" name="Business_Unit" id="Business_Unit" onchange="FnBusiness_Unit()">
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="example-tel-input" class="col-md-4 col-form-label">Community<span class="requ">*</span></label>
                                <div class="col-md-8">
                                    <select class="form-control" name="Community" id="Community_Id" onchange="Fn_Community(this.value)">
                                    </select>
                                </div>
                            </div>

                            <div class="mb-3 row" style="display:none">
                                <label for="example-tel-input" class="col-md-4 col-form-label">Master Community</label>
                                <div class="col-md-8">
                                    <select class="form-control" name="Master_Community_Id" id="Master_Community_Id">
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3 row" id="Fn_Business_Unit_Type" style="display:none">
                                <label for="example-text-input" class="col-md-4 col-form-label">Business Unit Type</label>
                                <div class="col-md-8">
                                    <select class="form-control" id="Hs_Business_Unit_Type" name="Hs_Business_Unit_Type">
                                        <option value="" style='text-align:center'>--Select--</option>
                                        <option value="Party">JOP 3rd Party</option>
                                        <option value="JOP_Common">JOP-Common Area</option>
                                        <option value="Master_Community">Master Community</option>
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="example-email-input" class="col-md-4 col-form-label">Inspection Date<span class="requ">*</span></label>
                                <div class="col-md-8">
                                    <input class="form-control" type="date" id="Inspection_Date" name="Inspection_Date" />
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="example-text-input" class="col-md-4 col-form-label">NCM Zone In Charge<span class="requ">*</span></label>
                                <div class="col-md-8">
                                    <select class="form-control" name="Zone_In_Charge_Id" id="Zone_In_Charge_Id">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3 row">
                                <label for="example-text-input" class="col-md-4 col-form-label">Zone<span class="requ">*</span></label>
                                <div class="col-md-8">
                                    <select class="form-control" name="Zone_Id" id="Zone_Id" onchange="Fn_Zone(this.value)">
                                    </select>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="example-tel-input" class="col-md-4 col-form-label">Building<span class="requ">*</span></label>
                                <div class="col-md-8">
                                    <select class="form-control" name="Building_Id" id="Building_Id">
                                    </select>
                                </div>
                            </div>

                            <div class="mb-3 row" style="display:none">
                                <label for="example-tel-input" class="col-md-4 col-form-label">Schedule Type<span class="requ">*</span></label>
                                <div class="col-md-8">
                                    <select class="form-control" name="Schedule_Type" id="Schedule_Type">
                                        <option value="0" style='text-align:center'>--Select--</option>
                                        <option value="Bimonthly">Bimonthly</option>
                                        <option value="Quarterly">Quarterly</option>
                                        <option value="Semiannually">Semi Annually</option>
                                        <option value="Yearly">Yearly</option>
                                    </select>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="example-tel-input" class="col-md-4 col-form-label">Type<span class="requ">*</span></label>
                                <div class="col-md-8">
                                    <select class="form-control" name="Service_Provider_Type" id="Service_Provider_Type">
                                        <option value="0" style='text-align:center'>--Select--</option>
                                        <option value="ServiceProviderBuilding">Building</option>
                                        <option value="ServiceProviderMaster">Master Community</option>
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="example-text-input" class="col-md-4 col-form-label">NCM Service Provider<span class="requ">*</span></label>
                                <div class="col-md-8">
                                    <select class="form-control" name="Service_Provider_Id" id="Service_Provider_Id">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3">
                                <label for="example-number-input" class="col-md-4 col-form-label">Description</label>
                                <div class="col-md-12">
                                    <textarea class="form-control" id="Description" name="Description"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Safety Violation -->
                    <div class="row">
                        <div class="mb-6">
                            <label for="example-text-input" class="col-md-8 col-form-label">
                                Raise the Safety Violation Notice ?<span class="requ">*</span>
                                <label for="Safety_Violation_Yes" onclick="FnSafetyViolation_Yes('1')"> <input id="Safety_Violation_Yes" class="Safety_Violation" name="Safety_Violation" type="radio" value="Yes" checked>&nbsp;Yes</label>&nbsp;&nbsp;
                                <label for="Safety_Violation_No" onclick="FnSafetyViolation_Yes('2')"> <input id="Safety_Violation_No" class="Safety_Violation" name="Safety_Violation" type="radio" value="No">&nbsp;No</label>
                            </label>
                        </div>
                        <div class="mb-6" id="Safety_Description" style=" display:none;">
                            <label for="example-number-input" class="col-md-4 col-form-label">Remarks</label>
                            <textarea class="form-control mb-6" id="SV_Description" name="SV_Description"></textarea>
                            <br />
                        </div>
                    </div>
                    <!-- Submit Button -->
                    <div class="row">
                        <div class="col-lg-6">
                            <button type="submit" class="btn btn-success waves-effect waves-light submit" style="float: right;">
                                <i class="bx bx-check-double font-size-16 align-middle me-2"></i> Submit
                            </button>
                        </div>
                        <div class="col-lg-6">
                            <button type="reset" class="btn btn-danger waves-effect waves-light">
                                <i class="bx bx-block font-size-16 align-middle me-2"></i> Cancel
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Service Provider List -->
<div id="divServiceProvider_View" style="display:none">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-10"> <h4 class="card-title">View Service Provider Inspection</h4></div>
                    <div class="col-lg-2">
                        <button type="button" id="btn_ServiceProvider_List" class="btn btn-success waves-effect waves-light" style="float: right;"><i class="mdi mdi-arrow-left-thin-circle-outline me-1"></i>Back</button>
                    </div>
                </div>
                <div id="ViewServiceProvider_List">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Questionnaires List -->
<div class="row Qns" id="divViewServiceProviderQns" style=" display:none;">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="col-lg-9">
                    <h4 class="d-flex align-items-center mb-3">Service Provider Inspection Questionnaires</h4>
                </div>
                <div class="col-md-3" id="Back_Div" style="display:none;">
                    <div>
                        <button class="btn btn-primary waves-effect waves-light" onclick="BackButton()" style="float: right;" id="BtnBack">
                            <i class="bx bx-arrow-back"></i>&nbsp;Back
                        </button>
                    </div>
                </div>
                <hr />
                <div id="GetQuestionnaireList">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Reject Qns Health & Safety Inspection -->
<div class="modal fade Add_SP_Insp_Reject" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myExtraLargeModalLabel">Reject Service Provider Inspection</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="Fm_SP_Insp_Reject" action="#">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <input type="hidden" class="form-control hdn_Sp_Insp_Id" name="hdn_Sp_Insp_Id" id="hdn_Sp_Insp_Id">
                                <input type="hidden" class="form-control" name="Reject_Stage" id="Reject_Stage" value="Rejected By HSE Team">
                                <label for="example-search-input" class="form-model" style="color:black;">Reason For Reject</label>
                                <textarea class="form-control" required rows="1" cols="100" style="height: 150px;" id="Reject_Reason" name="Reject_Reason" minlen="1"></textarea>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div style="text-align:center;">
                            <button type="button" class="btn btn-success" onclick="Fn_SP_Insp_Reject_Submit()"> Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- Reject CA Health & Safety Inspection -->
<div class="modal fade Add_SPCA_Reject" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myExtraLargeModalLabel">Reject Service Provider Inspection</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="Fm_SPCA_Reject" action="#">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <input type="hidden" class="form-control" name="hdn_SpCorrective_Action_Id" id="hdn_SpCorrective_Action_Id">
                                <input type="hidden" class="form-control" name="Reject_Stage" id="Reject_Stage" value="Rejected Closure Action">
                                <label for="example-search-input" class="form-model" style="color:black;">Reason For Reject</label>
                                <textarea class="form-control" required rows="1" cols="100" style="height: 150px;" id="Reject_Reason" name="Reject_Reason" minlen="1"></textarea>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div style="text-align:center;">
                            <button type="button" class="btn btn-success" onclick="Fn_SPCA_Reject_Submit()"> Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<script src="~/assets/js/validation/inspection_validation/inspformchecklistvalidation.js"></script>
<script src="~/assets/js/validation/inspection_validation/inspformchecklistseverside.js"></script>
<script>
    "use strict";
    const UI_Fields = Object.freeze({
        ADD_PAGE_SERVICE_PROVIDER: "#AddPage_Service_Provider",
        LIST_VIEW: "#List_View",
        BTN_BACK: "#btn_back",
        MAIN_TABLE: "#tblInspServiceProviderList",
        TBODY_TABLE: "#GetInspServiceProviderList",
        BTN_ADD_SERVICE_PROVIDER: "#btn_add_ServiceProvider",
        BTN_VIEW_SERVICE_PROVIDER_BACK: "#btn_ServiceProvider_List",
        M_BUSINESS_UNIT: "#Business_Unit",
        M_ZONE: "#Zone_Id",
        COMMUNITY_ID: "#Community_Id",
        BUILDING_ID: "#Building_Id",
        BUSINESS_UNIT_TYPE: "#Fn_Business_Unit_Type",
        DIV_VIEW_SERVICE_PROVIDER: "#divServiceProvider_View",
        VIEW_SERVICE_PROVIDER_LIST: "#ViewServiceProvider_List",
        DIV_QUESTIONNAIRE_LIST: "#divViewServiceProviderQns",
        VIEW_SERVICE_PROVIDER_QNS_LIST: "#GetQuestionnaireList",
    });

    $(document).ready(function () {
        debugger;
        var now = new Date();
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        var today = now.getFullYear() + "-" + (month) + "-" + (day);
        $('#Inspection_Date').val(today);

        ApplySelect2("#Business_Unit");
        ApplySelect2("#Zone_Id");
        ApplySelect2("#Community_Id");
        ApplySelect2("#Building_Id");
        ApplySelect2("#Zone_In_Charge_Id");
        ApplySelect2("#Service_Provider_Id");

        ServerSideTable_Insp_ServiceProvider();
        $(UI_Fields.BTN_ADD_SERVICE_PROVIDER).click(function () {
            LOAD_BUSINESS_UNIT();
            LOAD_ZONE();
            $(UI_Fields.LIST_VIEW).hide(100);
            $(UI_Fields.ADD_PAGE_SERVICE_PROVIDER).show(100);
        });
        $(UI_Fields.BTN_VIEW_SERVICE_PROVIDER_BACK).click(function () {
            $(UI_Fields.LIST_VIEW).show(100);
            $(UI_Fields.ADD_PAGE_SERVICE_PROVIDER).hide(100);
            $(UI_Fields.DIV_VIEW_SERVICE_PROVIDER).hide(100);
            $(UI_Fields.DIV_QUESTIONNAIRE_LIST).hide(100);
            $(UI_Fields.DIV_SERVICE_PROVIDER_CLOSURE_ACTION).hide(100);
            $(UI_Fields.DIV_SERVICE_PROVIDER_CLOSURE_ACTION).hide(100);
            window.location.reload(); //ClearAll();
        });
        $(UI_Fields.BTN_BACK).click(function () {
            $(UI_Fields.LIST_VIEW).show(100);
            $(UI_Fields.ADD_PAGE_SERVICE_PROVIDER).hide(100);
            $(UI_Fields.DIV_VIEW_SERVICE_PROVIDER).hide(100);
            $(UI_Fields.DIV_QUESTIONNAIRE_LIST).hide(100);
            $(UI_Fields.DIV_SERVICE_PROVIDER_CLOSURE_ACTION).hide(100);
            window.location.reload(); //ClearAll();
        });
    })
</script>
<script>
    function ApplySelect2(id) {
        $(id).select2({
            placeholder: "--Select--",
            theme: 'bootstrap-5',
        });
    }
    FnSafetyViolation_Yes('1');
    function FnSafetyViolation_Yes(val) {
        if (val == "1") {
            $("#Safety_Description").show();
            $(".submitAdd").text("Next");
        } else {
            $("#Safety_Description").hide();
        }
    }

    $("input[name='Safety_Violation']").click(function () {
        var test = $(this).val();
        if (test == "Yes") {
            $(".submitAdd").text("Next");
        } else {
            $(".submitAdd").text("Submit");
        }
    });
    function LOAD_BUSINESS_UNIT() {
        $.post("@Url.Action("LoadAllBusinessUnit", "CommonMaster")", function (data) {
            $(UI_Fields.M_BUSINESS_UNIT).empty();
            $(UI_Fields.M_BUSINESS_UNIT).append("<option selected value='0' style='text-align:center' disabled> --Select Business Unit--</option>");
            $(data).each(function (i, e) {
                $(UI_Fields.M_BUSINESS_UNIT).append("<option value=" + e.Business_Unit_Id + ">" + e.Business_Unit_Name + "</option>");
            });
        });
    }
    function LOAD_ZONE() {
        $.post("@Url.Action("LoadAllZone", "CommonMaster")", function (data) {
            $(UI_Fields.M_ZONE).empty();
            $(UI_Fields.M_ZONE).append("<option selected value='0' style='text-align:center' disabled> --Select Zone--</option>");
            $(data).each(function (i, e) {
                $(UI_Fields.M_ZONE).append("<option value=" + e.Zone_Id + ">" + e.Zone_Name + "</option>");
            });
        });
    }
    function Fn_Zone(Zone_Id) {
        $.post("@Url.Action("LoadAllCommunitybyZone", "CommonMaster")", { Zone_Id: Zone_Id }, function (data) {
            $(UI_Fields.COMMUNITY_ID).empty();
            $(UI_Fields.BUILDING_ID).empty();
            $(UI_Fields.MASTER_COMMUNITY_ID).empty();
            $(UI_Fields.COMMUNITY_ID).append("<option selected value='0' style='text-align:center'  disabled>--Select Community--</option>");
            $(data).each(function (i, e) {
                $(UI_Fields.COMMUNITY_ID).append("<option value=" + e.Community_Master_Id + ">" + e.Community_Master_Name + "</option>");
            });
        });
    }
    function Fn_Community(Community_Id) {
        var Zone_Id = $("#Zone_Id").val();
        $.post("@Url.Action("LoadAllBuildingbyZone", "CommonMaster")", { Zone_Id: Zone_Id, Community_Id: Community_Id }, function (data) {
            $(UI_Fields.BUILDING_ID).empty();
            $(UI_Fields.BUILDING_ID).append("<option selected value='0'style='text-align:center' disabled>--Select Community--</option>");
            $(data).each(function (i, e) {
                $(UI_Fields.BUILDING_ID).append("<option value=" + e.Sub_Building_Id + ">" + e.Building_Name + "</option>");
                //alert(Zone_Id + ' ' + Community_Id);
                ZONE_EMP_DRP_DWN('Supervisor', Zone_Id, Community_Id);
                SERVICE_EMP_DRP_DWN('All', Zone_Id, Community_Id);
            });
        });
    }
    function FnBusiness_Unit(val) {
        var buname = $("#Business_Unit option:selected").text();
        if (buname == "NCM") {
            $("#Fn_Business_Unit_Type").show();
        }
        else {
            $("#Fn_Business_Unit_Type").hide();
        }
    }
    function ZONE_EMP_DRP_DWN(Role_Name, Zone_Id, Community_Id) {
        //debugger;
        $.post("@Url.Action("LoadEmpbyRole", "CommonMaster")", { Role_Name: Role_Name, Zone_Id: Zone_Id, Community_Id: Community_Id }, function (data) {
            $("#Zone_In_Charge_Id").empty();
            $("#Zone_In_Charge_Id").append("<option value='' style='text-align:center'>--Select--</option>");
            $(data).each(function (i, e) {
                $("#Zone_In_Charge_Id").append("<option value=" + e.Employee_Identity_Id + ">" + e.First_Name + "</option>");
            });
        });
    }
    function SERVICE_EMP_DRP_DWN(Role_Name, Zone_Id, Community_Id) {
        //debugger;
        $.post("@Url.Action("LoadEmpbyRole", "CommonMaster")", { Role_Name: Role_Name, Zone_Id: Zone_Id, Community_Id: Community_Id }, function (data) {
            $("#Service_Provider_Id").empty();
            $("#Service_Provider_Id").append("<option value='' style='text-align:center'>--Select--</option>");
            $(data).each(function (i, e) {
                $("#Service_Provider_Id").append("<option value=" + e.Employee_Identity_Id + ">" + e.First_Name + "</option>");
            });
        });
    }
</script>

<script>
    FnCheckList_Change("ServiceProviderBuilding");
    function FnCheckList_Change(Type) {
        if (Type == "ServiceProviderMaster") {
            Fn_ServiceProvider_CheckList_Change(Type);
        }
        else {
            Fn_ServiceProvider_CheckList_Change(Type);
        }
    }
    function Fn_ServiceProvider_CheckList_Change(Type) {
        $.post("@Url.Action("_ViewHealthSafetyQuestionnairs", "HandOverInspection")", { Health_Safety_Type: Type }, function (data) {
            $(UI_Fields.VIEW_SERVICE_PROVIDER_QNS_LIST).html('');
            $(UI_Fields.VIEW_SERVICE_PROVIDER_QNS_LIST).html(data);
        }).always(function () {
            $(UI_Fields.DIV_QUESTIONNAIRE_LIST_VIEW).show(100);
        });
    }
    //Redirect from Approvel to Same Page
    function FnSP_CA_ApprovalReject(id) {
        //debugger;
        $(UI_Fields.LIST_VIEW).hide(100);
        $(UI_Fields.DIV_QUESTIONNAIRE_LIST).show(100);
        $.post("@Url.Action("_GetServiceProviderQnsView", "HandOverInspection")", { Insp_ServiceProvider_Id: id }, function (data) {
            $(UI_Fields.VIEW_SERVICE_PROVIDER_QNS_LIST).html('');
            $(UI_Fields.VIEW_SERVICE_PROVIDER_QNS_LIST).html(data);
        }).always(function () {
            $(UI_Fields.DIV_QUESTIONNAIRE_LIST).show(100);
        });
    }
    function Fn_CA_Reject_SP(rowid) {
        $("#hdn_SpCorrective_Action_Id").val("");
        $("#hdn_SpCorrective_Action_Id").val(rowid);
    }
    function Fn_SP_Insp_Reject(rowid) {
        $("#hdn_Sp_Insp_Id").val("");
        $("#hdn_Sp_Insp_Id").val(rowid);
    }
    function Fn_SP_Insp_Reject_Submit() {
        //debugger;
        var varInsp_Service_Provider_Id = "";
        varInsp_Service_Provider_Id = $("#hdn_Sp_Insp_Id").val();
        //var Rowid = $("#hdn_SpCorrective_Action_Id").val();
        var Stage = $("#Reject_Stage").val();
        var Description = $("#Reject_Reason").val();
        let valid = $("#Fm_SP_Insp_Reject").valid();
        if (!valid) {
            return false;
        }
        var ObjSpRej = {};
        ObjSpRej.Corrective_Action_Id = Rowid;
        ObjSpRej.Insp_ServiceProvider_Id = varInsp_Service_Provider_Id;
        ObjSpRej.Reject_Stage = Stage;
        ObjSpRej.Reject_Reason = Description;
        $.ajax({
            url: "/HandOverInspection/ServiceProvider_Insp_Qns_Reject",
            type: "POST",
            cache: false,
            data: JSON.stringify(ObjSpRej),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data.STATUS_CODE == "200") {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Rejected Successfully',
                        showConfirmButton: false,
                        timer: 1500
                    }).then(function () {
                        //$("#Reject_Reason").val("");
                        //$(".Add_SPCA_Reject").modal('toggle');
                        //FnSP_CA_ApprovalReject(varInsp_Service_Provider_Id);
                        window.location.reload();
                    });
                }
                else {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'Error',
                        title: 'Error',
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
            },
        });
    }
    function Fn_SPCA_Reject_Submit() {
        //debugger;
        var varInsp_Service_Provider_Id = "";
        varInsp_Service_Provider_Id = $("#Insp_Service_Provider_BId").val();
        var Rowid = $("#hdn_SpCorrective_Action_Id").val();
        var Stage = $("#Reject_Stage").val();
        var Description = $("#Reject_Reason").val();
        let valid = $("#Fm_SPCA_Reject").valid();
        if (!valid) {
            return false;
        }
        var ObjSpRej = {};
        ObjSpRej.Corrective_Action_Id = Rowid;
        ObjSpRej.Insp_ServiceProvider_Id = varInsp_Service_Provider_Id;
        ObjSpRej.Reject_Stage = Stage;
        ObjSpRej.Reject_Reason = Description;
        $.ajax({
            url: "/HandOverInspection/ServiceProvider_Closure_Action_Reject",
            type: "POST",
            cache: false,
            data: JSON.stringify(ObjSpRej),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data.STATUS_CODE == "200") {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Rejected Successfully',
                        showConfirmButton: false,
                        timer: 1500
                    }).then(function () {
                        $("#Reject_Reason_Description").val("");
                        $(".Add_SPCA_Reject").modal('toggle');
                        FnSP_CA_ApprovalReject(varInsp_Service_Provider_Id);
                    });
                }
                else {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'Error',
                        title: 'Error',
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
            },
        });
    }
</script>